<div class='forum-single-component'>
	<div class='forum-single-thread-container '>
		<div class='forum-single-header'>
			<img class='forum-creator-image' ng-class="{'is-online': $ctrl.thread.creator.loggedIn}" ng-src='{{$ctrl.thread.creator.picture}}'>
			<div class='forum-created-info'>
				<h4 ui-sref="app.profile.overview({userId: $ctrl.thread.creator._id})">{{$ctrl.thread.creator.username}}</h4>
				<p am-time-ago="$ctrl.thread.created"></p>
			</div>
			<div class='forum-score-container below-mobile'>
				<span class='mdi mdi-chevron-up' ng-class="{'liked': $ctrl.thread.liked}" ng-click="$ctrl.like($ctrl.thread)"></span>
				<span ng-class="{'positive': $ctrl.thread.score >= 1,
				'negative': $ctrl.thread.score <= -1}">{{$ctrl.thread.score}}</span>
				<span class='mdi mdi-chevron-down' ng-class="{'disliked': $ctrl.thread.disliked}" ng-click="$ctrl.unlike($ctrl.thread)"></span>
			</div>
		</div>

		<div class='forum-single-container thread-single-container'>
			<div class='forum-score-container above-mobile'>
				<span class='mdi mdi-chevron-up' ng-class="{'liked': $ctrl.thread.liked}" ng-click="$ctrl.like($ctrl.thread)"></span>
				<span ng-class="{'positive': $ctrl.thread.score >= 1,
				'negative': $ctrl.thread.score <= -1}">{{$ctrl.thread.score}}</span>
				<span class='mdi mdi-chevron-down' ng-class="{'disliked': $ctrl.thread.disliked}" ng-click="$ctrl.unlike($ctrl.thread)"></span>
			</div>

			<div class='forum-single-content'>
				<h3 ng-if="!$ctrl.thread.link">{{$ctrl.thread.title}}</h3>
				<h3 ng-if='$ctrl.thread.link'>
					<a target="_blank" href="{{$ctrl.thread.link}}">{{$ctrl.thread.title}}</a>
				</h3>
				<p>{{$ctrl.thread.content}}</p>
			</div>
		</div>
	</div>

	<div class='forum-single-info'>
		<div class='left'>
			<div class='forum-single-info-text'>
				<button ui-sref="app.singleThread({streamId: $ctrl.streamId, threadId: $ctrl.thread._id})">
				<span>{{$ctrl.thread.comments.length}}</span>
				<i class='mdi mdi-comment-outline mobile'></i>
				<p class='above-mobile'>Comment<span ng-if="$ctrl.thread.comments.length > 1 || $ctrl.thread.comments.length == 0">s</span></p>
				</button>
			</div>

			<div class='forum-single-info-text'>
				<button>
					<span>{{$ctrl.thread.views}}</span>
					<i class='mobile mdi mdi-eye'></i>
					<p class='above-mobile'>View<span ng-if='$ctrl.thread.views > 1 || $ctrl.thread.views == 0'>s</span></p>
				</button>
			</div>

			<div class='forum-single-info-text'>
				<button>
					<span>{{$ctrl.thread.saves.length}}</span>
					<i class='mobile mdi mdi-heart-outline'></i>
					<p class='above-mobile'>Save<span ng-if="$ctrl.thread.saves.length > 1 || $ctrl.thread.saves.length == 0">s</span></p>
				</button>
			</div>
		</div>

		<div class='right'>
			<div class='forum-single-info-text'>
				<button ng-click="$ctrl.toggleSave($ctrl.thread)">
					<i class='mdi mdi-heart-outline' ng-class="{'saved': $ctrl.thread.saved}"></i>
				</button>
			</div>

			<div class='forum-single-ino-text' ng-if="$ctrl.moderator || $ctrl.currentUser == $ctrl.thread.creator._id">
				<button ng-click="$ctrl.openEditThread($ctrl.thread)">
					<i class='mdi mdi-pencil'></i>
				</button>
			</div>

			<div class='forum-single-info-text' ng-if="$ctrl.moderator || $ctrl.currentUser == $ctrl.thread.creator._id">
				<button ng-click="$ctrl.openDeleteThread($ctrl.thread)">
					<i class='mdi mdi-delete'></i>
				</button>
			</div>
		</div>
	</div>
</div>
