.create-stream-post-header
	//border-bottom: 1px solid rgba(0,0,0,0.12)
	height: 60px
	background-image: -webkit-linear-gradient(bottom, $accent-blue 0%, $blue 100%)
	box-shadow: 0 2px 4px rgba(0,0,0,0.25)

	button
		height: 60px
		padding: 0 8px

		h3
			@include lato
			color: #dfe1df

		span
			@include lato
			color: #dfe1df
			display: inline-block
			transition: all .4s ease
			outline: none
			font-size: 18px

			&:hover
				transform: scale(1.4, 1.4)


.create-stream-post-body
	padding: 50px 0


.post-form-wrapper
	width: 90%
	margin: 0 auto
	position: relative
	margin-bottom: 42px

	label
		display: inline-block
		position: absolute
		top: 0
		left: 6px
		@include open
		opacity: 1
		color: rgba(0,0,0,0.35)
		text-shadow: 1px 1px rgba(0,0,0,0.12)
		transition: all .4s ease

	input
		position: relative
		padding-left: 6px
		@include lato
		color: rgba(0,0,0,0.35)
		border-bottom: 1px solid rgba(0,0,0,0.12)
		width: 99%

	textarea
		position: relative
		padding-left: 6px
		@include lato
		color: rgba(0,0,0,0.35)
		border-bottom: 1px solid rgba(0,0,0,0.12)
		width: 100%

	&::after
		position: absolute
		bottom: 0
		left: 50%
		width: 0
		height: 1px
		content: ''
		transition: all .4s ease

	&.has-focus
		label
			opacity: 0

		&::after
			left: 0
			bottom: 1px
			width: 100%
			background: $accent-blue

	&.has-success
		label
			opacity: 0
			



.create-stream-post-actions
	padding: 10px 10px 10px 0
	background-image: -webkit-linear-gradient(bottom, darken($darkest-blue, 10%) 0%, $darkest-blue 100%)

	button
		height: 40px
		width: 120px
		border-radius: 2px
		margin-right: 5px
		transition: all .4s ease

		span
			@include open
			color: #dfe1df
			text-shadow: 1px 1px rgba(0,0,0,0.12)

		&:nth-of-type(1)
			background: $accent-green

			&:hover
				background: darken($accent-green, 10%)

		&:nth-of-type(2)
			background: $accent-red

			&:hover
				background: darken($accent-red, 10%)


