.streams-list-component-container
	padding: 140px 0 80px 0
	margin-top: -35px
	background: #5288ca

	> div
		padding: 40px 0
.single-stream-repeat
	&.ng-enter
		@include slideInUp()

	&.ng-leave
		@include slideOutDown()
		
.load-more-button
	display: flex
	align-items: center
	justify-content: center

	button
		height: 55px
		width: 180px
		box-shadow: 0 3px 6px rgba(0,0,0,0.33)
		background: darken(#aec5d9, 20%)

		span
			@include rale()
			font-weight: 400
			font-size: 16px
			letter-spacing: 2px
			color: $white-text

@media screen and (min-width: 630px)
	.streams-list-component-container
		padding: 200px 0 80px 0



	