<md-dialog class='profile-message-dialog'>
	<md-dialog-content>
		<div class='profile-message-dialog-header'>
			<button ng-click="$ctrl.close()">
				<i class='mdi mdi-close'></i>
			</button>
		</div>

		<p>Send {{$ctrl.user.username}} a message</p>

		<form name='$ctrl.messageForm' ng-submit="$ctrl.sendMessage($ctrl.messageForm.$valid)" novalidate>
			<div class='profile-dialog-wrapper' ng-class="{'has-focus': $ctrl.messageForm.message.hasFocus,
			'has-success': $ctrl.messageForm.message.$valid && $ctrl.messageForm.message.$touched,
			'has-error': $ctrl.messageForm.message.$error && $ctrl.messageForm.message.$touched && !$ctrl.messageForm.message.$valid,
			'is-empty': !$ctrl.messageForm.message.$viewValue}">
				<label>Message</label>
				<textarea name='message' ng-model='$ctrl.data.message' rows='7' name='message' required></textarea>
			</div>

			<div class='profile-dialog-submit'>
				<button type='submit' aria-label='submit message button' ng-class="{'valid': $ctrl.messageForm.$valid}">
					<span>Send</span>
				</button>
			</div>
		</form>
	</md-dialog-content>
</md-dialog>
