.home-page-header
	background: darken($blue, 10%)
	> div
		padding: 20px 0

		> div
			height: 40px
			width: 40px
			border: 1px solid #dfe1df
			border-radius: 50%
			margin-bottom: 10px

		p
			@include open
			color: #dfe1df

.home-page-toolbar
	background: $blue !important
	height: 40px
	min-height: 40px

	button
		span
			@include open
			color: #dfe1df

.home-page-order-threads
	position: relative
	transition: all .4s ease
	width: 180px

	i
		transition: all .4s ease
		color: #dfe1df
		display: inline-block
		position: absolute
		right: 0
		top: 11px

	&:hover, &:active
		background: darken($blue, 10%)

	&.open
		background: darken($blue, 10%)

		i
			transform: rotate(-180deg)


.home-page-order-threads-dropdown
	position: absolute
	top: 40px
	left: 16px
	transition: all .4s ease
	height: 0
	width: 180px
	background: #fff
	text-align: center

	&:not(.ng-hide)
		height: 160px

		li
			height: 40px
			border-bottom: 1px solid rgba(0,0,0,0.3)
			transition: all .4s ease

			&:last-child
				border-bottom: none

			button
				height: 40px

				span
					opacity: 1
					color: rgba(0,0,0,0.3)
					@include open
					font-weight: 100

			&:hover
				background: rgba(0,0,0,0.35)

	li
		button
			span
				opacity: 0
				transition: all 1.4s ease


.home-page-body
	background: darken(#364351, 5%)
	min-height: 729px

	md-content
		background: darken(#364351, 5%)
		padding-top: 20px

		md-list
			md-list-item
				width: 90%
				margin: 0 auto
				background: #212a33


.home-threads-user
	padding: 10px 0

	> img
		height: 50px
		width: 50px
		border: 1px solid $accent-blue
		border-radius: 50%
		margin-bottom: 8px
		display: inline-block
		transition: all .4s ease

		&:hover
			transform: scale(1.1, 1.1)


	p
		@include lato
		color: #dfe1df !important

.home-threads-content
	padding: 10px 0

	p
		@include open
		color: #dfe1df !important

		&:nth-of-type(2)
			@include lato
			color: #9a9a9a

.home-threads-score
	padding: 10px 0

	span
		@include open
		color: #9a9a9a

	i
		color: #dfe1df


.home-threads-toolbar
	padding: 5px 10px
	border-top: 1px solid #c19f66
	height: 35px

	button
		height: 25px
		padding: 0
		padding-right: 8px

		span
			@include open
			color: #dfe1df

		i
			color: #9a9a9a

.home-threads-created
	@include lato
	color: #9a9a9a !important

