<div class='login-page-container'>
	<div>
		<md-card class='login-page-card'>
			<div class='login-form-header' layout='row' layout-align='center center'>
				<h3>Welcome Back!</h3>
			</div>

			<div class='login-form-container'>
				<form name='vm.loginForm' ng-submit="vm.login(vm.loginForm.$valid)" novaliate>
					<div class='auth-form-wrapper' ng-class="{'has-focus': vm.loginForm.email.hasFocus,
					'has-success': vm.loginForm.email.$valid && vm.loginForm.email.$touched,
					'has-error': vm.loginForm.email.$error && vm.loginForm.email.$touched,
					'is-empty': !vm.loginForm.email.$viewValue}">
						<label>Email</label>
						<input type='email' name='email' ng-model='vm.user.email' ng-focus='vm.loginForm.email.hasFocus=true' ng-blur='vm.loginForm.email.hasFocus=false' required>
						<i class='icon-checkmark auth-form-success-check' ng-if="vm.loginForm.email.$valid"></i>
						<i class='icon-fire auth-form-error-icon' ng-if="vm.loginForm.email.$error && vm.loginForm.email.$touched && !vm.loginForm.email.$valid"></i>
						<div ng-messages='vm.loginForm.email.$error' ng-if="vm.loginForm.email.$touched" class='auth-form-error-container'>
							<div ng-message='required'>
								<span>Sorry, your email is required</span>
							</div>
						</div>
					</div>

					<div class='auth-form-wrapper' ng-class="{'has-focus': vm.loginForm.password.hasFocus,
					'has-success': vm.loginForm.password.$valid && vm.loginForm.password.$touched,
					'has-error': vm.loginForm.password.$error && vm.loginForm.password.$touched,
					'is-empty': !vm.loginForm.password.$viewValue}">
						<label>Password</label>
						<input type='password' name='password' ng-model='vm.user.password' ng-focus="vm.loginForm.password.hasFocus=true" ng-blur="vm.loginForm.password.hasFocus=false" required>
						<i class='icon-checkmark auth-form-success-check' ng-if="vm.loginForm.password.$valid"></i>
						<i class='icon-fire auth-form-error-icon' ng-if="vm.loginForm.password.$error && vm.loginForm.password.$touched && !vm.loginForm.password.$valid"></i>
						<div ng-messages='vm.loginForm.password.$error' ng-if="vm.loginForm.password.$touched" class='auth-form-error-container'>
							<div ng-message='required'>
								<span>Sorry, your password is required</span>
							</div>
						</div>
					</div>

					<div class='login-form-forgot' layout='row' layout-align='end center'>
						<p ng-click="vm.openResetPassword()">Forgot Password?</p>
					</div>

					<div class='auth-form-submit' layout='row' layout-align='center none'>
						<button type='submit' aria-label='login form submit button'>
							<span>Login</span>
						</button>
					</div>
				</form>
			</div>
		</md-card>


		<div class='login-page-other' layout='column' layout-align='none center'>
			<p>Don't have an account yet? <a ui-sref='authentication.signup'>Sign up here</a></p>

			<!-- <div class='login-page-social'>
				<div>
					<div>
						<button aria-label='google-login'>
							<i class='icon-google3'></i>
						</button>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</div>