<div class='forum-single-trending-component'>
	<div class='forum-single-trending'>
		<div>
			<p>{{$ctrl.stream.name}}</p>
		</div>

		<div>
			<div>
				<span>{{$ctrl.stream.subscribers.length}} Subscriber<span ng-if='$ctrl.stream.subscribers.length > 1 || $ctrl.stream.subscribers.length == 0'>s</span></span>
			</div>

			<div>
				<i class='mdi mdi-star-outline' ng-class="{'subscribed': $ctrl.stream.subscribed}" ng-click="$ctrl.toggleSubscribe($ctrl.stream)"></i>
			</div>
		</div>
	</div>
</div>