<div class='stream-single-component'>
	<div class='single-container'>
		<div class='stream-left'>
			<div></div>
		</div>

		<div class='stream-content'>
			<h3>{{$ctrl.stream.name}}</h3>

			<p>{{$ctrl.stream.description}}</p>
		</div>
	</div>

	<div class='stream-info'>
		<div class='left'>
			<div class='stream-info-text'>
				<span>{{$ctrl.stream.subscribers.length}} Subscriber<span ng-if="$ctrl.stream.subscribers.length > 1 || $ctr.stream.subscribers.length == 0">s</span></span>
			</div>
			<div class='large-mobile stream-info-text'>
				<span> 7 Posts</span>
			</div>
		</div>

		<div class='right'>
			<div>
				<button>
					<span>Subscribe</span>
				</button>
			</div>
		</div>
	</div>
</div>
