.profile-saved-container
	background: darken(#d5d8dd, 7%)

.profile-saved-threads
	width: 45%
	margin: 0 2.5%
	margin-top: 30px
	padding-bottom: 30px
	
	> div
		box-shadow: 4px 4px 4px lighten($darkest-blue, 10%)

		> md-list
			padding: 0
			padding-bottom: 10px
			background: lighten($darkest-blue, 5%)
			padding-top: 10px

			> md-list-item
				padding: 0
				width: 97%
				border-radius: 4px
				box-shadow: 0 4px 8px 0 rgba(0,0,0,0.35)
				background: #dfe1df
				margin: 0 auto 10px auto

				&:last-child
					margin-bottom: 0

				.md-list-item-text
					width: 100%

.profile-saved-header
	height: 70px
	padding: 0 10px 0 17px
	border-bottom: 1px solid rgba(0,0,0,0.35)
	background: $darkest-blue

	h3
		@include lato
		font-weight: 300
		color: #d5d8dd
		letter-spacing: 1px
		line-height: 30px


.profile-saved-search-icon
	margin-top: 3px
	height: 35px
	width: 30px
	position: relative
	transition: all .4s ease
	background: $accent-blue

	i
		font-size: 16px
		position: absolute
		top: 9px
		left: 8px
		opacity: 1
		transition: all .4s ease
		color: #dfe1df

	&.is-searching
		width: 5px
		transition: all .4s ease

		i
			opacity: 0
			transition: all .4s ease

.profile-saved-search
	position: relative
	height: 35px
	margin-top: 3px

	label
		@include lato
		font-size: 18px
		display: inline-block
		position: absolute
		left: 8px
		top: 5px
		color: #d5d8dd
		transition: all .4s ease
		opacity: 1


	input
		height: 35px
		width: 150px
		padding: 0 0 0 5px
		background: lighten($darkest-blue, 5%)
		@include lato
		color: #dfe1df
		transition: all .4s ease

	&.has-focus
		label
			opacity: 0

		input
			width: 175px
			transition: all .4s ease

.profile-saved-user
	padding-top: 8px

	img
		height: 50px
		width: 50px
		border-radius: 50%
		margin-bottom: 10px
		margin-top: 4px
		display: inline-block
		box-shadow: 0 4px 8px rgba(0,0,0,0.5)
		transition: all .4s ease

		&:hover
			transform: scale(1.2,1.2)

	p
		@include lato
		font-size: 18px
		color: #858f97
		margin-bottom: 4px

.profile-saved-title
	position: relative
	padding-top: 10px
	padding-left: 10px
	cursor: pointer

	p
		opacity: 1
		@include open
		font-weight: 400
		transition: all .5s ease
		color: rgba(0,0,0,0.45) !important


	&:hover
		> p
			opacity: 0
			transition: all 1s ease

		.profile-saved-title-overlay
			opacity: 1
			background-color: darken(#dfe1df, 5%)
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.35) inset


.profile-saved-title-overlay
	width: 100%
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 0
	opacity: 0
	height: 104px
	transition: all 1s ease

	p
		@include lato
		color: rgba(0,0,0,0.45)
		padding-left: 10px
		padding-top: 8px

.profile-saved-score-container
	i
		color: rgba(0,0,0,0.45)
		outline: none
		transition: all .4s ease
		display: inline-block
		font-size: 22px

		&.upvoted
			color: $accent-green

		&.downvoted
			color: $accent-red

		&:hover
			transform: scale(1.5, 1.5)

	span
		@include lato
		color: rgba(0,0,0,0.45)
		transition: all .4s ease

		&.positive
			color: $accent-green

		&.negative
			color: $accent-red

.profile-saved-toolbar
	height: 35px
	border-top: 1px solid rgba(0,0,0,0.12)
	padding: 0 10px

	button
		i
		 	color: rgba(0,0,0,0.35)
		 	transition: all .4s ease

		span
			color: rgba(0,0,0,0.45)

.profile-saved-toolbar-item
	span
		@include open

.profile-saved-created
	span
		@include lato
		color: rgba(0,0,0,0.23)

.profile-saved-no-threads
	background: lighten($darkest-blue, 5%)
	min-height: 104px

	p
		@include lato
		color: #dfe1df
		letter-spacing: 1px
		text-shadow: 1px 1px rgba(0,0,0,0.45)
		text-align: center


.profile-saved-comments
	width: 45%
	margin: 0 2.5%
	margin-top: 30px
	padding-bottom: 30px

	> div
		box-shadow: 4px 4px 4px lighten($darkest-blue, 10%)

		> md-list
			padding: 0
			padding-bottom: 10px
			background: lighten($darkest-blue, 5%)
			padding-top: 10px

			> md-list-item
				padding: 0
				width: 97%
				border-radius: 4px
				box-shadow: 0 4px 8px 0 rgba(0,0,0,0.35)
				background: #dfe1df
				margin: 0 auto 10px auto

				&:last-child
					margin-bottom: 0

				.md-list-item-text
					width: 100%

.profile-saved-no-comments
	background: lighten($darkest-blue, 5%)
	min-height: 104px

	p
		@include lato
		color: #dfe1df
		letter-spacing: 1px
		text-shadow: 1px 1px rgba(0,0,0,0.45)
		text-align: center





.profile-saved-search-text
	background: lighten($darkest-blue, 5%)
	min-height: 80px

	p
		text-align: center
		@include mont
		color: #dfe1df
		font-size: 18px
		text-shadow: 1px 1px rgba(0,0,0,0.45)

		span
			@include open
			font-weight: 600
			text-shadow: 1px 1px rgba(0,0,0,0.45)
			color: $accent-orange

.profile-load-more-saved-items
	height: 60px
	padding-right: 25px
	background: lighten($darkest-blue, 5%)

	button
		height: 40px
		width: 200px
		border-radius: 4px
		border: 2px solid lighten($darkest-blue, 15%)
		position: relative
		transition: all .4s ease

		span
			@include open
			color: #d5d8dd
			transition: all .4s ease

		i
			position: absolute
			top: 11px
			right: 5px
			color: #d5d8dd
			transition: all .4s ease

		&:hover
			background: lighten($darkest-blue, 15%)

			span
				color: #fff

.profile-no-more-saved-items
	height: 30px

	p
		@include open
		font-weight: 600
		text-shadow: 1px 1px rgba(0,0,0,0.45)
		color: #9a9a9a

