<md-dialog class='profile-reset-dialog'>
	<md-dialog-content>
		<div class='profile-reset-dialog-header'>
			<h3>Change Password</h3>
			<button ng-click="$ctrl.close()" aria-label='close reset password dialog'>
				<i class='mdi mdi-close'></i>
			</button>
		</div>

		<div class='profile-reset-dialog-form'>
			<form name='$ctrl.resetPasswordForm' ng-submit='$ctrl.resetPassword($ctrl.resetPasswordForm.$valid)' novalidate>
				<div class='update-profile-wrapper' ng-class="{'has-focus': $ctrl.resetPasswordForm.password.hasFocus,
				'has-success': $ctrl.resetPasswordForm.password.$valid,
				'has-error': $ctrl.resetPasswordForm.password.$error && $ctrl.resetPasswordForm.password.$touched && !$ctrl.resetPasswordForm.password.$valid,
				'is-blank': !$ctrl.resetPasswordForm.password.$viewValue}">
					<label>Old Password</label>
					<input type='password' ng-model='$ctrl.data.password' name='password' required ng-focus='$ctrl.resetPasswordForm.password.hasFocus=true' ng-blur='$ctrl.resetPasswordForm.password.hasFocus=false'>
				</div>

				<div class='update-profile-wrapper' ng-class="{'has-focus': $ctrl.resetPasswordForm.newPassword.hasFocus,
				'has-success': $ctrl.resetPasswordForm.newPassword.$valid,
				'has-error': $ctrl.resetPasswordForm.newPassword.$error && $ctrl.resetPasswordForm.newPassword.$touched && !$ctrl.resetPasswordForm.newPassword.$valid,
				'is-blank': !$ctrl.resetPasswordForm.newPassword.$viewValue}">
					<label>New Password</label>
					<input type='password' ng-model='$ctrl.data.newPassword' name='newPassword' required ng-focus='$ctrl.resetPasswordForm.newPassword.hasFocus=true' ng-blur='$ctrl.resetPasswordForm.newPassword.hasFocus=false'>
				</div>

				<div class='update-profile-wrapper' ng-class="{'has-focus': $ctrl.resetPasswordForm.confirm.hasFocus,
				'has-success': $ctrl.resetPasswordForm.confirm.$valid,
				'has-error': $ctrl.resetPasswordForm.confirm.$error && $ctrl.resetPasswordForm.confirm.$touched && !$ctrl.resetPasswordForm.confirm.$valid,
				'is-blank': !$ctrl.resetPasswordForm.confirm.$viewValue}">
					<label>Confirm New Password</label>
					<input type='password' ng-model='$ctrl.data.confirm' name='confirm' required compare-to="$ctrl.data.newPassword" ng-focus='$ctrl.resetPasswordForm.confirm.hasFocus=true' ng-blur='$ctrl.resetPasswordForm.confirm.hasFocus=false'>
				</div>

				<div class='profile-reset-submit'>
					<button type='submit' aria-label='submit reset password dialog' ng-class="{'is-valid': $ctrl.resetPasswordForm.$valid}">
						<span>Change Password</span>
					</button>
				</div>
			</form>
		</div>
	</md-dialog-content>
</md-dialog>