.md-open-menu-container
	.nav-item-dropdown
		background: $default-white-background
		width: 180px
		padding-top: 0
		padding-bottom: 0


		md-menu-item
			padding: 10px 0
			min-height: 50px
			height: auto
			transition: all .4s ease
			border-bottom: 1px solid rgba(0,0,0,0.12)
			text-overflow: ellipsis
			word-break: break-all

			button
				text-overflow: ellipsis
				word-break: break-all

				span
					@include open()
					font-weight: 400
					font-size: 16px
					letter-spacing: 2px
					color: $default-dark-blue

			&:last-child
				border-bottom: none

			&:hover
				background: $default-grey-background

	.nav-notifications-dropdown
		width: 300px

		md-menu-item
			min-height: 55px
			padding: 10px
			margin-bottom: 10px
			text-overflow: ellipsis
			word-break: break-all
			outline: none

		.no-notifications
			padding: 0

			> div
				display: flex
				align-items: center
				justify-content: center
				height: 100%


		.notification
			display: flex
			flex-direction: column
			min-height: 55px
			padding-bottom: 10px
			border-bottom: 1px solid rgba(0,0,0,0.12)
			outline: none

			span
				@include rale()
				font-weight: 400
				letter-spacing: 1px
				font-size: 14px
				color: rgba(0,0,0,0.6)

		.notification-header
			display: flex
			align-items: center
			padding-bottom: 10px

			> div 
				height: 30px
				width: 30px
				border-radius: 50%
				border: 1px solid $default-dark-blue

			p
				display: flex
				flex: 1
				padding-left: 15px
				@include open()
				font-weight: 400
				font-size: 15px




	.forum-search-dropdown
		background: $default-white-background
		width: 130px
		padding-top: 0
		padding-bottom: 0

		md-menu-item
			height: 55px
			transition: all .4s ease
			border-bottom: 1px solid rgba(0,0,0,0.12)

			button
				span
					@include open()
					font-weight: 400
					font-size: 16px
					letter-spacing: 2px
					color: $default-dark-blue

			&:last-child
				border-bottom: none

			&:hover
				background: $default-grey-background

@media screen and (min-width: 1000px)
	.md-open-menu-container
		.forum-search-dropdown
			width: 165px

		.nav-notifications-dropdown
			width: 400px

@media screen and (min-width: 1300px)
	.md-open-menu-container
		.forum-search-dropdown
			width: 185px