.nav
	position: relative
	display: flex
	align-items: stretch
	height: 80px
	padding: 10px
	overflow: hidden
	background: $default-red

.nav-left
	display: flex
	flex: 1
	flex-basis: 0
	align-items: center
	justify-content: flex-start

	> div
		&:nth-of-type(1)
			display: none

.nav-right
	display: flex
	flex: 1
	flex-basis: 0
	align-items: center
	justify-content: flex-end

.nav-item
	display: flex
	align-items: center
	justify-content: center
	padding: 0 10px

	button
		span
			font-size: 20px
			@include rale()
			font-weight: 400
			letter-spacing: 2px
			color: $default-white-background

.nav-menu-icon
	button
		position: relative

		span
			font-size: 35px
			color: #f1ddd6

		.nav-notification-count
			display: flex
			align-items: center
			justify-content: center
			position: absolute
			bottom: -5px
			right: 0px
			height: 27px
			width: 27px
			border-radius: 50%
			background: $default-dark-blue

			> span
				font-size: 17px
				display: inline-block
				margin-left: 2px
				margin-bottom: 18px
				color: $default-white-background


.user-menu
	display: flex
	flex-direction: column
	align-items: center
	background: $default-dark-blue

.user-menu-user-info
	display: flex
	flex-direction: column
	align-items: center
	padding: 45px 0 30px 0
	min-height: 220px

	> div
		height: 70px
		width: 70px
		border-radius: 50%
		margin-bottom: 20px
		border: 2px solid $default-white-background

	> p
		padding-bottom: 10px
		color: $default-white-background

.user-menu-body
	width: 100%
	padding-bottom: 0

	.first-item
		border-top: 1px solid darken($default-dark-blue, 10%)

		> div
			&:nth-of-type(1)
				border-bottom: 1px solid darken($default-dark-blue, 10%)
	
	md-list-item
		height: 75px
		padding: 0
		border-bottom: 1px solid darken($default-dark-blue, 10%)
		transition: all .4s ease

		> div
			&:nth-of-type(1)
				display: flex
				align-items: center
				justify-content: center
				background: darken($default-dark-blue, 5%)
				height: 74px
				width: 60px
				transition: all .4s ease

				i
					color: darken($default-grey, 20%)
					font-size: 25px

			&:nth-of-type(2)
				padding-left: 20px

				span
					@include open()
					font-weight: 400
					letter-spacing: 2px
					font-size: 18px
					color: $default-white-background

			&.md-button
				padding-left: 0
				background: $default-red

				button
					span
						@include open()
						font-weight: 400
						letter-spacing: 2px
						font-size: 16px
						color: $default-white-background

		&:hover
			background: darken($default-red, 5%)

			> div
				&:nth-of-type(1)
					background: darken($default-red, 5%)

		&.open
			background: darken($default-red, 5%)

			> div
				&:nth-of-type(1)
					background: darken($default-red, 5%)


		button
			i
				font-size: 22px
				color: $default-white-background

.logout-container
	display: flex
	align-items: center
	width: 100%
	height: 75px
	min-height: 75px
	cursor: pointer
	transition: all .4s ease
	border-bottom: 1px solid darken($default-dark-blue, 10%)

	> div
		&:nth-of-type(1)
			display: flex
			align-items: center
			justify-content: center
			width: 60px
			height: 75px
			background: darken($default-dark-blue, 5%)
			transition: all .4s ease

			i
				font-size: 25px
				color: darken($default-grey, 20%)

		&:nth-of-type(2)
			padding-left: 20px

			span
				@include open()
				font-weight: 400
				letter-spacing: 2px
				font-size: 18px
				color: $default-white-background

	&:hover
		background: darken($default-red, 10%)

		> div
			&:nth-of-type(1)
				background: darken($default-red, 10%)



.user-menu-nested-list
	list-style-type: none
	max-height: 1300px
	transition-property: max-height
	overflow: hidden
	position: relative
	z-index: 1
	transition: all .4s ease
	border-bottom: 1px solid darken($default-dark-blue, 10%)

	li
		width: 100%
		padding-left: 0
		transition: all .4s ease

		button
			height: 60px

			span
				@include open()
				font-weight: 400
				letter-spacing: 2px
				font-size: 16px
				color: $default-white-background
				transition: all .4s ease

		&:hover
			background: darken($default-dark-blue, 10%)

			span
				color: #fff

	&.ng-hide
		max-height: 0

	&:not(.ng-hide)
		li
			padding-left: 46px


@media screen and (min-width: 640px)
	.nav-left
		> div
			&:nth-of-type(1)
				display: flex

