<div class='stream-single-container' layout='column'>
	<div ng-repeat='stream in vm.stream'>
		<md-toolbar class='stream-single-header'>
			<div layout='column' layout-align='center center' flex>
				<div></div>
				<span></span>
				<p>{{stream.name}}</p>
				<p>{{stream.description}}</p>
			</div>
		</md-toolbar>

		<md-toolbar class='stream-single-toolbar'>
			<div class='md-toolbar-tools' layout='row'>
				<button aria-label='open create post dialog' ng-click="vm.openAddPost()">
					<span>Add Post</span>
				</button>

				<button ng-if="stream.creator.roles.indexOf('admin') !== -1">
					<span>Delete Stream</span>
				</button>

				<span flex></span>
				<button aria-label='search'>
					<span>Search</span>
				</button>
			</div>
		</md-toolbar>
	</div>


	<div class='stream-single-body' layout='row'>
		<md-content>
			<md-list>
				<md-list-item class='md-2-line' ng-repeat='item in vm.feed'>
					<div class='md-list-item-text'>
						<div layout='row'>
							<div layout='column' flex='15' layout-align='center center'>
								<div></div>
								<p>{{item.creator.name}}</p>
							</div>

							<div layout='column' flex ng-click="vm.goToThread(item)">
								<p>{{item.title}}</p>
							</div>

							<div layout='column' flex='10' layout-align='center center' class='stream-single-score-container'>
								<i class='icon-expand_less' ng-click="vm.upvote(item)" ng-class="{'upvoted': item.upvoted}"></i>
								<p ng-class="{'positive': item.score >= 1, 'negative': item.score <= -1}">{{item.score}}</p>
								<i class='icon-expand_more' ng-click="vm.downvote(item)" ng-class="{'downvoted': item.downvoted}"></i>
							</div>
						</div>

						<div layout='row' class='stream-single-item-toolbar'>
							<button>
								<i class='icon-bubble'></i>
								<span>{{item.comments.length}} Comment<span ng-if="item.comments.length > 1 || item.comments.length === 0">s</span></span>
							</button>

							<button ng-if="!item.saved" ng-click="vm.save(item)">
								<i class='icon-favorite_border'></i>
								<span>{{item.saves.length}} Save<span ng-if="item.saves.length > 1 || item.saves.length === 0">s</span></span>
							</button>

							<button ng-if="item.saved" ng-click="vm.unsave(item)" class='saved'>
								<i class='icon-favorite_border'></i>
								<span>{{item.saves.length}} Save<span ng-if="item.saves.length > 1 || item.saves.length === 0">s</span></span>
							</button>

							<span flex></span>

							<button>
								<span>{{item.created | date:'short'}}</span>
							</button>
						</div>
					</div>
				</md-list-item>
			</md-list>
		</md-content>

		<div class='stream-single-sidebar' flex>
			<md-toolbar class='stream-single-sidebar-header' ng-repeat='stream in vm.stream'>
				<div layout='column' layout-align='center center'>
					<p>{{stream.subscribers.length}} Subscriber<span ng-if="stream.subscribers.length > 1 || stream.subscribers.length === 0">s</span></p>
					<p>{{stream.threads.length}} Thread<span ng-if="stream.threads.length > 1 || stream.threads.length === 0">s</span></p>
					<p>Users online</p>

					<button ng-if="!item.subscribed">
						<span>Subscribe</span>
					</button>

					<button ng-if="item.subscribed">
						<span>Unsubscribe</span>
					</button>
				</div>
			</md-toolbar>

			<div class='stream-single-sidebar-body'>
				<h3>Rules</h3>
			</div>
		</div>


	</div>



	<!--

	<div class='stream-single-body'>
		<md-content>
			<md-list class='md-2-line'>
				<md-list-item ng-repeat='item in vm.feed'>
					<div ng-click="vm.goToThread(item)">
						<div class='item-left'>
							<div>
								<div></div>
								<p>{{item.creator.name}}</p>
							</div>
						</div>

						<div class='item-right'>
							<div>
								<p>{{item.title}}</p>
								<p>{{item.content}}</p>
							</div>
						</div>
					</div>

					<div class='item-toolbar'>
						<div class='item-toolbar-left'>
							<div>
								<button>
									<span>{{item.score}}</span>
								</button>
							</div>
						</div>
					</div>
				</md-list-item>
			</md-list>
		</md-content>

		<div class='stream-single-sidebar'>
		</div>
	</div> -->
</div>