<div class='stream-single-container' layout='column'>
	<div ng-repeat='stream in vm.stream'>
		<md-toolbar class='stream-single-header'>
			<div layout='column' layout-align='none center' flex>
				<img src="{{stream.image}}" ng-if="stream.image">
				<img src="../static/images/cat-image.jpeg" ng-if="!stream.image">
				<span></span>
				<p>{{stream.name}}</p>
				<p>{{stream.description}}</p>
			</div>
		</md-toolbar>

		<md-toolbar class='stream-single-toolbar'>
			<div class='md-toolbar-tools' layout='row'>
				<button aria-label='open create post dialog' ng-click="vm.openAddPost()">
					<span>Add Post</span>
				</button>

				<button class='stream-single-order-threads' ng-click="vm.showOrder = !vm.showOrder" ng-class="{'open': vm.showOrder}">
					<span>Order Threads</span>
					<i class='icon-expand_more'></i>
				</button>

				<ul ng-show="vm.showOrder" class='stream-single-order-threads-dropdown'>
					<li>
						<button ng-click="vm.orderByScore()">
							<span>By Score</span>
						</button>
					</li>

					<li>
						<button ng-click="vm.orderByDate()">
							<span>By Date</span>
						</button>
					</li>

					<li>
						<button ng-click="vm.orderBySaves()">
							<span>By Saves</span>
						</button>
					</li>

					<li>
						<button ng-click="vm.orderByReplies()">
							<span>By Replies</span>
						</button>
					</li>
				</ul>

				<button class='stream-single-mod-options' ng-click="vm.showModOptions = !vm.showModOptions" ng-class="{'open': vm.showModOptions}" ng-if="stream.creator.roles.indexOf('admin') !== -1 || vm.isMod">
					<span>Mod Options</span>
					<i class='icon-expand_more'></i>
				</button>

				<ul ng-show="vm.showModOptions" class='stream-single-mod-options-dropdown'>
					<li>
						<button ng-click="vm.openDeleteStream()">
							<span>Delete Stream</span>
						</button>
					</li>

					<li>
						<button ng-click="vm.editStream()">
							<span>Edit Stream</span>
						</button>
					</li>

					<li>
						<button ngf-select="vm.addStreamImage(file, stream)" ng-model='file' name='file' ngf-pattern="'image/*'" accept="image/*">
							<span>Upload Image</span>
						</button>
					</li>
				</ul>


				<span flex></span>
					<div class='stream-single-search-icon' ng-class="{'is-searching': vm.search.hasFocus}" layout='column' layout-align='center center'>
						<i class='icon-search'></i>
					</div>
					<div class='stream-single-search' ng-class="{'has-focus': vm.search.hasFocus}">
						<label for="singleStreamSearch">Search</label>
						<input name='search' id='singleStreamSearch' ng-model='vm.feedsFilter' ng-focus="vm.search.hasFocus=true" ng-blur="vm.search.hasFocus=false">
					</div>
			</div>
		</md-toolbar>
	</div>


	<div class='stream-single-body' layout='column'>
		<div>
			<md-list class='stream-single-list'>
				<md-list-item class='md-2-line' ng-repeat='item in vm.feed | orderBy: vm.rowFilter'>
					<div class='md-list-item-text'>
						<div layout='row'>
							<div layout='column' flex='15' layout-align='center center' class='stream-single-user'>
								<img src='{{item.creator.picture}}' ui-sref="profile.overview({userId: item.creator._id})">
								<p>{{item.creator.name}}</p>
							</div>

							<div layout='column' flex ui-sref='streams.thread({streamId: item.stream._id, threadId: item._id})' class='stream-single-title'>
								<p>{{item.title}}</p>
								<div class='stream-single-title-overlay'>
									<p>{{item.content}}</p>
								</div>
							</div>

							<div layout='column' flex='10' layout-align='center center' class='stream-single-score-container'>
								<i class='icon-expand_less' ng-click="vm.upvote(item)" ng-class="{'upvoted': item.upvoted}"></i>
								<p ng-class="{'positive': item.score >= 1, 'negative': item.score <= -1}">{{item.score}}</p>
								<i class='icon-expand_more' ng-click="vm.downvote(item)" ng-class="{'downvoted': item.downvoted}"></i>
							</div>
						</div>

						<div layout='row' class='stream-single-item-toolbar'>
							<button>
								<i class='icon-bubble'></i>
								<span>{{item.comments.length}} Comment<span ng-if="item.comments.length > 1 || item.comments.length === 0">s</span></span>
							</button>

							<button ng-if="!item.saved" ng-click="vm.save(item)">
								<i class='icon-favorite_border'></i>
								<span>{{item.saves.length}} Save<span ng-if="item.saves.length > 1 || item.saves.length === 0">s</span></span>
							</button>

							<button ng-if="item.saved" ng-click="vm.unsave(item)" class='saved'>
								<i class='icon-favorite_border'></i>
								<span>{{item.saves.length}} Save<span ng-if="item.saves.length > 1 || item.saves.length === 0">s</span></span>
							</button>

							<span flex></span>

							<button>
								<span>{{item.created}}</span>
							</button>
						</div>
					</div>
				</md-list-item>
			</md-list>
		</div>

		<div class='stream-single-no-threads' layout='row' layout-align='center none' ng-if="!vm.feed.length && !vm.feedsFilter">
			<p>There don't seem to be any threads yet. Why don't you get things started and <span ng-click="vm.openAddPost()"> make one?</span></p>
		</div>

		<div class='stream-single-searching-text' layout='row' layout-align='center none' ng-if="!vm.feed.length && vm.feedsFilter">
			<p>Unravelling the threads now <span>. . .</span></p>
		</div>
	</div>
</div>