<div class='stream-single-container'>
	<div class='stream-single-header' ng-repeat='stream in vm.stream'>
		<div></div>

		<div class='stream-single-header-overlay'>
			<div>
				<div></div>
				<p>{{stream.name}}</p>
				<p>{{stream.subscribers.length}} Subscriber<span ng-if='stream.subscribers.length > 1 || stream.subscribers.length === 0'>s</span></p>
			</div>
		</div>
	</div>

	<div class='stream-single-toolbar'>
		<div class='single-toolbar-left'>
			<div>
				<button aria-label='add post to stream button' ng-click="vm.openAddPost()">
					<span>Add Post</span>
				</button>
			</div>
		</div>

		<div class='single-toolbar-right'>
			<div>
				<button>
					<span>Search</span>
				</button>
			</div>
		</div>
	</div>

	<div class='stream-single-body'>
		<md-content>
			<md-list class='md-2-line'>
				<md-list-item ng-repeat='item in vm.feed'>
					<div ng-click="vm.goToThread(item)">
						<div class='item-left'>
							<div>
								<div></div>
								<p>{{item.creator.name}}</p>
							</div>
						</div>

						<div class='item-right'>
							<div>
								<p>{{item.title}}</p>
								<p>{{item.content}}</p>
							</div>
						</div>
					</div>

					<div class='item-toolbar'>
						<div class='item-toolbar-left'>
							<div>
								<button>
									<span>{{item.score}}</span>
								</button>
							</div>
						</div>
					</div>
				</md-list-item>
			</md-list>
		</md-content>

		<div class='stream-single-sidebar'>
		</div>
	</div>
</div>