<div class='nav'>
	<div class='nav-left'>
		<div class='nav-item'>
			<a ui-sref='app.home'>
				<button>
					<span>Opinionated</span>
				</button>
			</a>
		</div>

		<div class='nav-item'>
			<a ui-sref='app.streamsList'>
				<button>
					<span>Streams</span>
				</button>
			</a>
		</div>
	</div>

	<div class='nav-right'>
		<div class='nav-item'>
			<a ui-sref='app.auth.signup'>
				<button>
					<span>Signup</span>
				</button>
			</a>
		</div>

		<div class='nav-item'>
			<a ui-sref='app.auth.login'>
				<button>
					<span>Login</span>
				</button>
			</a>
		</div>
	</div>
</div>