@import "./components/components"

.page-loading
	height: calc(100vh + 60px)
	width: 100vw
	background: #fff
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	transition: all .4s ease
	opacity: 1

	.page-loading-text
		padding-top: 30px
		font-size: 20px
		letter-spacing: 2px
		@include open()
		font-weight: 400
		color: rgba(0,0,0,0.6)
		transiton: all .4s ease
		opacity: 1

	.page-loaded-text
		font-size: 30px
		letter-spacing: 2px
		@include open()
		font-weight: 400
		color: $default-red
		transition: all .4s ease
		opacity: 0

	&.page-load-timeout
		opacity: 0

		.page-loading-text
			opacity: 0

		.page-loaded-text
			opacity: 1


.main-ui-view
	overflow: hidden
	background: $default-grey-background
	height: 100vh
	min-height: 100vh
	
.view-content-holder
	height: 100%

	&.ng-enter,
	&.ng-leave
		transition: all .4s ease

	&.ng-enter-active
		@include slideInUp()

	&.ng-leave-active
		@include slideOutDown()

md-toast.md-success-toast-theme
	.md-toast-content
		height: 60px

		background-color: $default-green

		span
			@include open()
			font-weight: 400
			letter-spacing: 2px
			font-size: 17px
			color: $default-white-background

md-toast.md-error-toast-theme
	.md-toast-content
		height: 60px
		background-color: $default-red

		span
			@include open()
			font-weight: 400
			letter-spacing: 2px
			font-size: 17px
			color: $default-white-background