@import "./components/components"

.main-ui-view
	overflow: hidden
	padding-bottom: 450px
	background: $default-grey-background
	
.view-content-holder
	height: 100vh

	&.ng-enter,
	&.ng-leave
		transition: all .4s ease

	&.ng-enter-active
		@include slideInUp()

	&.ng-leave-active
		@include slideOutDown()