@import "./components/components"

.main-ui-view
	overflow: hidden
	background: $default-grey-background
	height: 100vh
	min-height: 100vh
	
.view-content-holder
	height: 100%

	&.ng-enter,
	&.ng-leave
		transition: all .4s ease

	&.ng-enter-active
		@include slideInUp()

	&.ng-leave-active
		@include slideOutDown()

md-toast.md-success-toast-theme
	.md-toast-content
		height: 60px

		background-color: $default-green

		span
			@include open()
			font-weight: 400
			letter-spacing: 2px
			font-size: 17px
			color: $default-white-background

md-toast.md-error-toast-theme
	.md-toast-content
		height: 60px
		background-color: $default-red

		span
			@include open()
			font-weight: 400
			letter-spacing: 2px
			font-size: 17px
			color: $default-white-background