<div class='single-stream-page-container'>
	<header>
		<h1>{{$ctrl.stream.name}}</h1>
	</header>

	<div class='stream-image'></div>

	<p>{{$ctrl.stream.description}}</p>

	<button ng-click="$ctrl.openCreate()">
		<span>Create Thread</span>
	</button>

	<div class='single-stream-create-thread' ng-if="$ctrl.openCreate"></div>

	<div class='threads-search-container'>
		<div>
			<label>Search</label>
			<input type='text' name='search' ng-model='$ctrl.search'>
			<button class='large-mobile'>
				<span>Filter</span>
			</button>
		</div>
	</div>

	<thread-list threads='$ctrl.threads' class='thread-list-component'></thread-list>
</div>