.streams-create-container
	padding-top: 100px
	text-align: center

.streams-list-container
	padding-top: 100px
	text-align: center

	header
		padding-bottom: 60px

	p
		@include open()
		font-weight: 300
		letter-spacing: 2px
		font-size: 16px
		line-height: 28px
		color: rgba(0,0,0,0.45)
		width: 80%
		margin: 0 auto

@media screen and (min-width: 630px)
	.streams-create-container
		padding-top: 155px


@media screen and (min-width: 1000px)
	.streams-create-container
		padding-top: 190px

@media screen and (min-width: 1300px)
	.streams-create-container
		padding-top: 220px


