<div class='single-thread-page-container'>
	<div class='single-thread-thread-container'>
		<single-thread thread='$ctrl.thread' class='single-thread-thread-component'></single-thread>
	</div>

	<div class='forum-search-container'>
		<div ng-class="{'has-focus': $ctrl.search.hasFocus}">
			<label class='mdi mdi-magnify'></label>
			<input type='text' name='search' ng-model='$ctrl.commentsSearch' ng-change="$ctrl.search()" ng-focus="$ctrl.search.hasFocus=true" ng-blur="$ctrl.search.hasFocus=false">
			<md-menu md-offset='-15 60'>
				<button class='large-mobile' ng-click="$mdOpenMenu()">
					<span>Filter</span>
				</button>

				<md-menu-content class='forum-search-dropdown'>
					<md-menu-item>
						<button>
							<span>Score</span>
						</button>
					</md-menu-item>

					<md-menu-item>
						<button>
							<span>Saves</span>
						</button>
					</md-menu-item>

					<md-menu-item>
						<button>
							<span>Date</span>
						</button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</div>
	</div>


	<comments-list comments="$ctrl.comments" class='comments-list-component'></comments-list>

	<div class='load-more-button' ng-if="!$ctrl.noMoreComments">
		<button ng-click="$ctrl.loadMore()">
			<span>Load More</span>
		</button>
	</div>
</div>