<div class='chats-single-container' ng-if="!$ctrl.chat.isDeleted">
	<div class='chats-single-single' ng-click="$ctrl.goToChat($ctrl.chat)">
		<div class='chats-single-header'>
			<img ng-if="$ctrl.currentUser == $ctrl.chat.creator._id" ng-src='{{$ctrl.chat.participants[1].picture}}' ng-class="{'online': $ctrl.chat.participants[1].loggedIn}">
			<img ng-if='!$ctrl.currentUser == $ctrl.chat.creator._id' ng-src='{{$ctrl.chat.participants[0].picture}}' ng-class="{'online': $ctrl.chat.participants[0].loggedIn}">
			<div class='chats-user-info'>
				<h4 ng-if="$ctrl.currentUser == $ctrl.chat.creator._id">{{$ctrl.chat.participants[1].username}}</h4>
				<h4 ng-if="$ctrl.currentUser != $ctrl.chat.creator._id">{{$ctrl.chat.participants[0].username}}</h4>
				<p am-time-ago="$ctrl.chat.messages[0].created"></p>
			</div>
		</div>

		<div class='chats-single-body'>
			<p>{{$ctrl.chat.messages[0].message}}</p>
		</div>
	</div>

	<div class='chats-single-actions'>
		<div>
			<button ng-click="$ctrl.toggleSave($ctrl.chat)">
				<i class='mdi mdi-heart-outline' ng-class="{'saved': $ctrl.chat.saved}"></i>
			</button>

			<button ng-click="$ctrl.toggleRemove($ctrl.chat)">
				<i class='mdi mdi-delete' ng-class="{'removed': $ctrl.chat.isDeleted}"></i>
			</button>
		</div>
	</div>
</div>

<div class='chats-single-container chats-trash-single-container' ng-if="$ctrl.chat.isDeleted && !$ctrl.hideRemoved">
	<div class='chats-single-single' ng-click="$ctrl.goToChat($ctrl.chat)">
		<div class='chats-single-header'>
			<div></div>
			<div class='chats-user-info'>
				<h4>{{$ctrl.chat.participants[1].username}}</h4>
				<p am-time-ago="$ctrl.chat.messages[0].created"></p>
			</div>
		</div>

		<div class='chats-single-body'>
			<p>{{$ctrl.chat.messages[0].message}}</p>
		</div>
	</div>

	<div class='chats-single-actions'>
		<div>
			<button ng-click="$ctrl.toggleSave($ctrl.chat)">
				<i class='mdi mdi-heart-outline' ng-class="{'saved': $ctrl.chat.saved}"></i>
			</button>

			<button ng-click="$ctrl.toggleRemove($ctrl.chat)">
				<i class='mdi mdi-delete' ng-class="{'removed': $ctrl.chat.isDeleted}"></i>
			</button>
		</div>
	</div>
</div>
