.profile-page-container
	display: flex
	flex-direction: column
	align-items: center

.profile-tabs
	width: 100%
	margin-bottom: 35px

.profile-views
	width: 100%
	min-height: 100vh

	&.ng-enter
		transition: all .4s ease

	&.ng-enter-active
		@include slideInUp()


@import "header"
@import "overview"
@import "saved"