<div class='profile-header-component-container'>
	<div class='profile-header-info'>
		<img ng-src='{{$ctrl.user.picture}}' class='profile-header-image' ng-class="{'is-online': $ctrl.user.loggedIn}"></img>
		<div class='profile-header-user'>
			<h4>{{$ctrl.user.name}}</h4>
			<p>{{$ctrl.user.username}}</p>
		</div>
		<div class='profile-header-options'>
			<md-menu class='profile-header-dropdown' ng-if="$ctrl._isLoggedIn">
				<button ng-click="$mdOpenMenu()">
					<span>Options</span>
				</button>

				<md-menu-content>
					<md-menu-item ng-if="$ctrl.currentUser._id != $ctrl.user._id && !$ctrl.alreadyFollowing">
						<button ng-click="$ctrl.follow($ctrl.user)">
							<span>Follow</span>
						</button>
					</md-menu-item>

					<md-menu-item ng-if="$ctrl.currentUser._id != $ctrl.user._id && $ctrl.alreadyFollowing">
						<button ng-click="$ctrl.unfollow($ctrl.user)">
							<span>Unfollow</span>
						</button>
					</md-menu-item>

					<md-menu-item ng-if="$ctrl.currentUser._id != $ctrl.user._id" ng-click="$ctrl.message(item)">
						<button>
							<span>Message</span>
						</button>
					</md-menu-item>

					<md-menu-item ng-if='$ctrl.currentUser._id == $ctrl.user._id' ng-click="$ctrl.openEditProfile(item)">
						<button>
							<span>Edit Profile</span>
						</button>
					</md-menu-item>

					<md-menu-item ng-if='$ctrl.currentUser._id == $ctrl.user._id' ng-click="$ctrl.resetPassword()">
						<button>
							<span>Reset Password</span>
						</button>
					</md-menu-item>
					
					<md-menu-item ng-if='$ctrl.currentUser._id == $ctrl.user._id'>
						<button>
							<span>Upload Image</span>
						</button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</div>
	</div>
</div>
