<div class='comments-list-component-container'>
	<div ng-repeat="item in $ctrl.comments" class='comments-list-repeat'>
		<single-comment comment='item'></single-comment>
	</div>

	<div ng-if='!$ctrl.comments.length' class='forum-list-no-items'>
		<p>It doesn't look like there is anything here</p>
		<span>You should create a <span>new comment!</span></span>
	</div>

	<md-button class='md-fab forum-create-button' ng-click="$ctrl.openCreateComment()">
		<i class='mdi mdi-pencil'></i>
	</md-button>
</div>