<nav class='nav'>
	 <div class='nav-left'>
		<div class='nav-item'>
			<a ui-sref='app.home'>
				<button>
					<span>Opinionated</span>
				</button>
			</a>
		</div>

		<div class='nav-item'>
			<md-menu md-offset='-45 73'>
				<button ng-click='$mdOpenMenu()'>
					<span>Streams</span>
				</button>

				<md-menu-content class='nav-item-dropdown'>
					<md-menu-item>
						<button ui-sref='app.streamsList'>
							<span>All</span>
						</button>
					</md-menu-item>
					<md-menu-item ng-repeat='item in $ctrl.streams'>
						<button ui-sref='app.singleStream({streamId: item._id})'>
							<span>{{item.name}}</span>
						</button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</div>
	</div>

	<div class='nav-right'>
		<div class='nav-item' ng-if='!$ctrl.isLoggedIn'>
			<a ui-sref='app.signup'>
				<button>
					<span>Signup</span>
				</button>
			</a>
		</div>

		<div class='nav-item' ng-if='!$ctrl.isLoggedIn'>
			<a ui-sref='app.login'>
				<button>
					<span>Login</span>
				</button>
			</a>
		</div>

		<div class='nav-item nav-menu-icon' ng-if='$ctrl.isLoggedIn'>
			<md-menu class='nav-notifications-menu'>
				<button ng-click="$mdOpenMenu()">
					<span class='mdi mdi-bell'><div ng-if='$ctrl.notificationCount > 0' class='nav-notification-count'><span>{{$ctrl.notificationCount}}</span></div></span>
				</button>

				<md-menu-content class='nav-notifications-dropdown'>
					<md-menu-item ng-repeat="item in $ctrl.notifications">
						<div class='notification' ng-click="$ctrl.notificationAction(item)">
							<div class='notification-header'>
								<div></div>
								<p>{{item.display.text}}</p>
							</div>

							<span am-time-ago="item.created"></span>
						</div>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</div>




		<div class='nav-item nav-menu-icon' ng-if='$ctrl.isLoggedIn'>
			<button ng-click="$ctrl.openUserMenu()">
				<span class='mdi mdi-menu'></span>
			</button>
		</div>
	</div>
</nav>

<div class='nav-notifications-container' ng-if='$ctrl.showNotifications'>
	<div>
		<div ng-repeat='item in $ctrl.notifications'>
			<p>{{item.display.text}}</p>
			<span am-time-ago="item.created"></span>
		</div>
	</div>
</div>

<md-sidenav class='md-sidenav-left user-menu' md-component-id='user-menu' md-whiteframe='4' flex>
	<div class='user-menu-user-info'>
		<div></div>
		<p>{{$ctrl.user.username}}</p>
		<p>{{$ctrl.user.email}}</p>
	</div>

	<md-list class='user-menu-body'>
		<md-list-item md-ink-ripple class='first-item' ng-class="{'open': $ctrl.showProfile}">
			<div>
				<i class='mdi mdi-account'></i>
			</div>

			<div class='inset'>
				<span>
					Profile
				</span>
			</div>

			<button class='md-secondary' ng-click="$ctrl.showProfile = !$ctrl.showProfile">
				<i class='mdi mdi-chevron-down'></i>
			</button>
		</md-list-item>

		<ul class='user-menu-nested-list' ng-show='$ctrl.showProfile'>
			<div>
				<li>
					<button class='md-ink-ripple' ui-sref="app.profile.overview({userId: $ctrl.user._id})">
						<span>Overview</span>
					</button>
				</li>
			</div>

			<div>
				<li>
					<button class='md-ink-ripple' ui-sref="app.profile.threads({userId: $ctrl.user._id})">
						<span>Threads</span>
					</button>
				</li>
			</div>

			<div>
				<li>
					<button class='md-ink-ripple' ui-sref="app.profile.comments({userId: $ctrl.user._id})">
						<span>Comments</span>
					</button>
				</li>
			</div>

			<div>
				<li>
					<button class='md-ink-ripple' ui-sref="app.profile.saved({userId: $ctrl.user._id})">
						<span>Saved</span>
					</button>
				</li>
			</div>

			<div>
				<li>
					<button class='md-ink-ripple' ui-sref="app.profile.activity({userId: $ctrl.user._id})">
						<span>Activity</span>
					</button>
				</li>
			</div>
		</ul>

		<md-list-item md-ink-ripple ng-class="{'open': $ctrl.showMessages}">
			<div>
				<i class='mdi mdi-comment-outline'></i>
			</div>

			<div class='inset'>
				<span>
					Messages
				</span>
			</div>

			<button class='md-secondary' ng-click="$ctrl.showMessages = !$ctrl.showMessages">
				<i class='mdi mdi-chevron-down'></i>
			</button>
		</md-list-item>

		<ul class='user-menu-nested-list' ng-show="$ctrl.showMessages">
			<div>
				<li>
					<button class='md-ink-ripple' ui-sref='app.chats.inbox'>
						<span>Inbox</span>
					</button>
				</li>
			</div>

			<div>
				<li>
					<button class='md-ink-ripple' ui-sref='app.chats.saved'>
						<span>Saved</span>
					</button>
				</li>
			</div>

			<div>
				<li>
					<button class='md-ink-ripple' ui-sref='app.chats.trash'>
						<span>Trash</span>
					</button>
				</li>
			</div>
		</ul>

		<md-list-item md-ink-ripple ng-class="{'open': $ctrl.showStreams}">
			<div>
				<i class='mdi mdi-book'></i>
			</div>

			<div class='inset'>
				<span>Streams</span>
			</div>

			<button class='md-secondary' ng-click="$ctrl.showStreams = !$ctrl.showStreams">
				<i class='mdi mdi-chevron-down'></i>
			</button>
		</md-list-item>

		<ul class='user-menu-nested-list' ng-show="$ctrl.showStreams">
			<div>
				<li>
					<button class='md-ink-ripple' ui-sref="app.streamsList">
						<span>All</span>
					</button>
				</li>
			</div>

			<div>
				<li>
					<button class='md-ink-ripple' ui-sref="app.trendingStreams">
						<span>Trending</span>
					</button>
				</li>
			</div>

			<div>
				<li>
					<button class='md-ink-ripple' ui-sref='app.subscribedStreams'>
						<span>Subscribed</span>
					</button>
				</li>
			</div>

			<div>
				<li>
					<button class='md-ink-ripple' ng-click="$ctrl.openCreateStream()">
						<span>Create</span>
					</button>
				</li>
			</div>
		</ul>

		<md-list-item md-ink-ripple ng-class="{'open': $ctrl.showSettings}">
			<div>
				<i class='mdi mdi-settings'></i>
			</div>

			<div class='inset'>
				<span>Settings</span>
			</div>

			<button class='md-secondary' ng-click="$ctrl.showSettings = !$ctrl.showSettings">
				<i class='mdi mdi-chevron-down'></i>
			</button>
		</md-list-item>

		<ul class='user-menu-nested-list' ng-show="$ctrl.showSettings">
			<div>
				<li>
					<button class='md-ink-ripple'>
						<span>User</span>
					</button>
				</li>
			</div>

			<div>
				<li>
					<button class='md-ink-ripple'>
						<span>Theme</span>
					</button>
				</li>
			</div>

			<div>
				<li>
					<button class='md-ink-ripple'>
						<span>Notifications</span>
					</button>
				</li>
			</div>
		</ul>

		<md-list-item md-ink-ripple ng-class="{'open': $ctrl.showSearch}">
			<div>
				<i class='mdi mdi-magnify'></i>
			</div>

			<div class='inset'>
				<span>Search</span>
			</div>

			<button class='md-secondary' ng-click='$ctrl.showSearch = !$ctrl.showSearch'>
				<i class='mdi mdi-chevron-down'></i>
			</button>
		</md-list-item>

		<ul class='user-menu-nested-list' ng-show='$ctrl.showSearch'>
			<div>
				<li>
					<button class='md-ink-ripple' ng-click='$ctrl.openUsersSearch()'>
						<span>Users</span>
					</button>
				</li>
			</div>

			<div>
				<li>
					<button class='md-ink-ripple'>
						<span>Streams</span>
					</button>
				</li>
			</div>

			<div>
				<li>
					<button class='md-ink-ripple'>
						<span>Threads</span>
					</button>
				</li>
			</div>
		</ul>

		<md-list-item md-ink-ripple>
			<div>
				<i class='mdi mdi-pencil'></i>
			</div>

			<div class='inset'>
				<span>Add Thread</span>
			</div>
		</md-list-item>
	</md-list>

	<div class='logout-container' ng-click="$ctrl.logout()">
		<div>
			<i class='mdi mdi-emoticon-poop'></i>
		</div>

		<div>
			<span>Logout</span>
		</div>
	</div>

</md-sidenav>