.nav
	position: relative
	display: flex
	align-items: stretch
	overflow-x: hidden
	height: 80px
	//background: $dark-blue
	//background: #3b404f
	//background: darken(#d7a8a8, 20%)
	background: #ab4546

.nav-left
	display: flex
	flex: 1
	flex-basis: 0
	align-items: center
	justify-content: flex-start
	padding-left: 10px

.nav-right
	display: flex
	flex: 1
	flex-basis: 0
	align-items: center
	justify-content: flex-end
	padding-right: 10px

.nav-item
	display: flex
	align-items: center
	justify-content: center
	padding: 0 10px

	button
		span
			@include rale()
			font-weight: 400
			letter-spacing: 2px
			font-size: 16px
			color: #f7f8f9

.nav-menu-icon
	button
		span
			font-size: 35px
			color: #D0D3D5

.user-menu
	background: $dark-blue

.user-menu-user-info
	display: flex
	flex-direction: column
	align-items: center
	padding: 50px 0 20px 0

	> div
		height: 75px
		width: 75px
		margin-bottom: 25px
		border-radius: 50%
		background: $orange

	p
		@include rale()
		font-weight: 400
		font-size: 18px
		letter-spacing: 3px
		color: #e9e9e9
		padding-bottom: 12px

.user-menu-body
	md-list-item
		height: 65px
		padding-left: 0
		padding-right: 0
		border-bottom: 1px solid darken($dark-blue, 12%)

		&:nth-of-type(1)
			border-top: 1px solid darken($dark-blue, 12%)

			> div
				&:nth-of-type(1)
					width: 80px

		&:nth-of-type(2)
			> div
				&:nth-of-type(1)
					width: 80px

		> div

			&:nth-of-type(1)
				display: flex
				align-items: center
				justify-content: center
				position: relative
				height: 65px
				width: 70px
				background: darken($dark-blue, 5%)
				transtion: all .4s ease

				i
					font-size: 25px
					color: #459bd3

			&:nth-of-type(2)
				display: flex
				align-items: center
				width: 100%
				height: 65px
				padding-top: 0
				padding-bottom: 0
				padding-right: 0
				transition: all .4s ease

				span
					@include open()
					font-weight: 300
					font-size: 18px
					letter-spacing: 2px
					color: #f7f8f9

		.md-secondary-container
			margin-left: 0

			button
				padding-right: 10px
				height: 65px
				transition: all .4s ease

				i
					color: #f7f8f9

		&:hover
			> div
				&:nth-of-type(1)
					background: darken($dark-blue, 10%)

				&:nth-of-type(2)
					background: darken($dark-blue, 5%)

				button
					background: darken($dark-blue, 5%)

.user-menu-nested-list
	list-style-type: none
	max-height: 1300px
	transition-property: max-height
	trnsition: all .4s ease

	li
		padding-left: 0
		transition: all .4s ease

		button
			height: 65px

			span
				@incude open()
				font-weight: 300
				letter-spacing: 2px
				font-size: 16px
				color: #f7f8f9

	&.ng-hide
		max-height: 0
		
	&:not(.ng-hide)
		li
			padding-left: 45px