<div class='profile-overview-component'>
	<div>
		<div class='general-info'>
			<div>
				<h3>Name</h3>
				<span>{{$ctrl.user.name}}</span>
			</div>

			<div>
				<h3>Username</h3>
				<span>{{$ctrl.user.username}}</span>
			</div>

			<div>
				<h3>Email</h3>
				<span>{{$ctrl.user.email}}</span>
			</div>

			<div>
				<h3>Gender</h3>
				<span>Poop</span>
			</div>

			<div>
				<h3>Birthday</h3>
				<span>Satan</span>
			</div>
		</div>

		<div class='other-info'>
			<div>
				<h3>Occupation</h3>
				<span>Death</span>
			</div>

			<div>
				<h3>Interests</h3>
				<span>Absolutely fucking nothing this is awful and I hate this and I WANT TO STOP DOING IT NOW HOLY FUCK</span>
			</div>

			<div>
				<h3>Bio</h3>
				<span>I AM FUCKING BORED AND TIRED OF CODING THIS STUPID FUCKING WEBSITE. HOORAYYYY FOR ME. I WANT TO PUT A BULLET IN MY BRAIN BECAUSE I HAVE NOTHING BETTER TO DO AND I WANT TO DIE BECAUSE THIS IS SO EXTREMELY AWFUL I CAN'T TAKE IT ANYMORE. NOTONE MORE SECOND OF THIS FUCKING FUCKING FUCKING STUPID ASS SHIT. HLY FUCKING HELL KILL ME NOW. THIS IS AWFUL. I NEVER WNAT TO DO THIS AGAIN.</span>
			</div>
		</div>
	</div>

	<div>
		<div class='score-container'>
			<div>
				<i class='mdi mdi-check'></i>
				<span>Thread Score</span>
				<span>{{$ctrl.user.threadScore}}</span>
			</div>

			<div>
				<i class='mdi mdi-check'></i>
				<span>Comment Score</span>
				<span>{{$ctrl.user.commentScore}}</span>
			</div>
		</div>


		<div class='friends-list'>
			<div class='friends-list-header'>
				<div>
					<h3>Friends</h3>
				</div>
				<span ng-if='$ctrl.user.following'>{{$ctrl.user.following.length}} Friend<span ng-if="$ctrl.user.following.length > 1 || $ctrl.user.following.length == 0">s</span></span>
			</div>
			<div class='friends-list-body'>
				<div ng-repeat="item in $ctrl.user.following" ui-sref="app.profile.overview({userId: item._id})" class='profile-friends-list-repeat'>
					<div></div>
					<p>{{item.name}}</p>
					<p>{{item.username}}</p>
				</div>

				<div class='friends-list-no-friends' ng-if='!$ctrl.user.following'>
					<p>{{$ctrl.user.username}} is not following anyone</p>
				</div>
			</div>
			<div class='friends-list-footer'>
				<div>
					<button>
						<span ng-if="$ctrl.friends.length > 3">See all {{$ctrl.user.following.length}} Friends></span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>