.streams-list-container
	.streams-list-header
		height: 120px
		width: 100%
		position: relative
		border-bottom: 1px solid rgba(0,0,0,0.35)

		.streams-list-header-overlay
			position: absolute
			top: 0
			left: 0
			height: 120px
			width: 100%
			display: flex
			justify-content: center

			> div
				margin-top: 15px
				height: 40px
				width: 40px
				border-radius: 50%
				border: 1px solid rgba(0,0,0,0.35)

	.streams-list-toolbar
		display: flex
		align-items: stretch
		position: relative
		text-align: center
		z-index: 20
		height: 50px
		//background: darken($darkest-green, 10%)
		background: $blue
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.45)

		.toolbar-left
			display: flex
			flex: 1
			align-items: stretch
			justify-content: flex-start

			> div
				display: flex
				justify-content: center
				align-items: center
				padding-left: 10px
				border-right: 1px solid rgba(0,0,0,0.12)
				transition: all .4s ease
				padding-right: 10px

				button
					span
						@include open
						transition: all .4s ease
						color: #dfe1df

				&:hover
					background: darken($blue, 10%)

					button
						span
							color: #fff
		.toolbar-right
			display: flex
			flex: 1
			align-items: stretch
			justify-content: flex-end

			> div
				display: flex
				justify-content: center
				align-items: center
				position: relative
				padding-right: 15px
				width: 250px

				label
					display: inline-block
					position: absolute
					top: 12px
					left: 35px
					@include open
					color: rgba(0,0,0,0.35)
					z-index: 20

				input
					position: relative
					background: #dfe1df
					width: 100%
					height: 35px
					padding: 0
					box-shadow: 0 4px 8px rgba(0,0,0,0.25)

				> div
					position: absolute
					top: 8px
					left: 0
					width: 30px
					height: 35px
					background: darken($blue, 10%)

					i
						position: absolute
						top: 10px
						left: 8px
						color: #dfe1df


	.streams-list-body
		
		background: darken(#364351, 5%)
			
		md-content
			padding-top: 15px
			background: darken(#364351, 5%)
			height: 504px
			overflow-y: auto

			md-list
				md-list-item
					width: 70%
					margin: 0 auto
					margin-bottom: 10px
					box-shadow: 0 4px 8px rgba(0,0,0,0.35)
					padding: 0
					background: #212a33

					.md-list-item-text
						> div
							height: 100px

							> div
								.md-avatar
									border: 1px solid rgba(0,0,0,0.3)
									margin: 0
									margin-top: 6px
									margin-bottom: 10px

									&.subscribed
										border: 1px solid $accent-green

								button
									border: 1px solid rgba(0,0,0,0.35)
									text-align: center
									margin-bottom: 10px
									transition: all .4s ease

									span
										@include open
										color: #dfe1df
										transition: all .4s ease

									&.stream-subscribed
										border: 1px solid $accent-red

										&:hover
											background: $accent-red

											span
												color: #fff

									&.stream-unsubscribed
										border: 1px solid $accent-green

										&:hover
											background: $accent-green

											span
												color: #fff

									&.ng-animate
										display: none

								&:nth-of-type(2)
									transition: all .4s ease

									h4
										@include mont
										color: #dfe1df
										padding-left: 15px


									p
										@include open
										color: #9a9a9a
										padding-left: 15px
										padding-top: 8px

									&:hover
										background: lighten(#212a33, 10%)

						.streams-list-item-toolbar
							height: 35px
							border-top: 1px solid #c19f66
							position: relative

							button
								border-right: 1px solid rgba(0,0,0,0.12)
								transition: all .4s ease

								i
									color: #dfe1df

								span
									color: #dfe1df
									@include open

								&:hover
									background: #c19f66

							> div
								display: flex
								align-items: center
								position: absolute
								right: 5px
								top: 4px
								@include lato
								color: #9a9a9a



			/*

						

									



							.streams-item-right
								display: flex
								flex: 7
								align-items: stretch
								flex-direction: column

								h4
									text-align: left
									@include mont
									color: #dfe1df

								p
									text-align: left
									@include open
									color: #9a9a9a

									

					.streams-item-toolbar
						display: flex
						align-items: stretch
						position: relative
						text-align: center
						z-index: 20
						border-top: 1px solid rgba(0,0,0,0.35)

						.item-toolbar-left
							display: flex
							flex: 1
							align-items: stretch
							justify-content: flex-start

							button
								span
									@include open
									color: #dfe1df
								i
									color: #dfe1df

						.item-toolbar-right
							display: flex
							flex: 1
							align-items: stretch
							justify-content: flex-end

							button
								span
									@include open
									color: #9a9a9a */

					
