<md-dialog flex='50'>
	<md-dialog-content layout='column'>
		<div class='password-reset-header' layout='row' layout-align='none center'>
			<h3>Forgot your password?</h3>
			<span flex></span>
			<span ng-click="close()">x</span>
		</div>

		<div class='password-reset-body' layout='column' layout-align='center center'>
			<p>This part of opinionated is not quite functional yet! Once it is you will be able to enter your email here and then follow further instructions to reset your password. Until then, please send me an email directly and I will sort out your issues</p>

			<form name='passwordResetForm' novalidate>
				<div class='password-reset-wrapper' ng-class="{'has-focus': passwordResetForm.email.hasFocus,
				'has-success': passwordResetForm.email.$valid,
				'has-error': passwordResetForm.email.$error,
				'is-empty': !passwordResetForm.email.$viewValue}">
					<label>Email</label>
					<input type='email' name='email' ng-model='email' required ng-focus='passwordResetForm.email.hasFocus=true' ng-blur='passwordResetForm.email.hasFocus=false'>
				</div>
			</form>
		</div>
	</md-dialog-content>

	<md-dialog-actions class='password-reset-actions' layout='row' layout-align='end center'>
		<button aria-label='submit password reset form'>
			<span>Submit</span>
		</button>

		<button aria-label='close password reset form'>
			<span>I Remembered</span>
		</button>
	</md-dialog-actions>
</md-dialog>