<div class='thread-edit-container'>
	<form name='$ctrl.editThread' class='edit-thread-form' ng-submit="$ctrl.edit($ctrl.editThread.$valid)">
		<div class='forum-form-wrapper' ng-class="{'has-focus': $ctrl.editThread.title.hasFocus,
		'has-success': $ctrl.editThread.title.$valid,
		'has-error': $ctrl.editThread.title.$error && $ctrl.editThread.title.$touched && !$ctrl.editThread.title.$valid,
		'is-empty': !$ctrl.editThread.title.$viewValue}">
			<label>Title</label>
			<input ng-model="$ctrl.thread.title" name='title' ng-focus='$ctrl.editThread.title.hasFocus=true' ng-blur='$ctrl.editThread.title.hasFocus=false'>
		</div>

		<div class='forum-form-wrapper' ng-class="{'has-focus': $ctrl.editThread.content.hasFocus,
		'has-success': $ctrl.editThread.content.$valid,
		'has-error': $ctrl.editThread.content.$error && $ctrl.editThread.content.$touched && !$ctrl.editThread.content.$valid,
		'is-empty': !$ctrl.editThread.content.$viewValue}">
			<label>Content</label>
			<textarea ng-model='$ctrl.thread.content' rows='7' cols='40' name='content' ng-focus="$ctrl.editThread.content.hasFocus=true" ng-blur="$ctrl.editThread.content.hasFocus=false"></textarea>
		</div>

		<div class='forum-form-wrapper' ng-if="$ctrl.thread.link" ng-class="{'has-focus': $ctrl.editThread.link.hasFocus,
		'has-success': $ctrl.editThread.link.$valid,
		'has-error': $ctrl.editThread.link.$error && $ctrl.editThread.link.$touched && !$ctrl.editThread.link.$valid,
		'is-empty': !$ctrl.editThread.link.$viewValue}">
			<label>Link</label>
			<input ng-model='$ctrl.thread.link' name='link' ng-focus="$ctrl.editThread.link.hasFocus=true" ng-blur='$ctrl.editThread.link.hasFocus=false'>
		</div>

		<div class='forum-form-submit'>
			<button type='submit' ng-class="{'form-valid': $ctrl.editThread.$valid}">
				<span>Edit</span>
			</button>
		</div>
	</form>
</div>