$default-red: #ab4546
$default-grey: #d0d3d5
$default-light-blue: #b1e8de
$default-blue: #aec5d9
$default-green: darken(#b2deb1, 15%)
$default-grey-text: darken(#d0d3d5, 30%)
$default-white-background: #fdfdfe
$default-grey-background: lighten(#d0d3d5, 12%)