.thread-container
	background: darken(#364351, 5%)

.thread-content
	background: #d5d8dd

.thread-title
	padding-left: 10px
	box-shadow: 0 4px 4px rgba(0,0,0,0.45)
	background-image: -webkit-linear-gradient(bottom, darken($blue, 10%) 0%, darken($blue, 20%) 100%)
	height: 40px
	position: relative
	z-index: 50

	p
		@include open
		color: #d5d8dd
		letter-spacing: 1px
		text-shadow: 1px 1px rgba(0,0,0,0.3)

	span
		@include lato
		font-weight: 300
		letter-spacing: 1px
		color: #9a9a9a
		padding-right: 10px

.thread-content-stream
	transition: all .4s ease
	color: #9a9a9a

	&:hover
		color: #fff
.thread-body-content
	padding: 20px 0
	min-height: 120px

.thread-content-user
	padding-top: 10px
	padding-bottom: 8px

	> img
		height: 55px
		width: 55px
		border-radius: 50%
		margin-bottom: 8px
		display: inline-block
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5)
		transition: all .4s ease
		cursor: pointer

		&:hover
			transform: scale(1.2, 1.2)

	p
		@include lato
		letter-spacing: 1px
		font-weight: 300
		color: rgba(0,0,0,0.45)

.thread-content-content
	border: 1px solid rgba(0,0,0,0.08)
	border-radius: 5px
	padding: 8px 0 0 10px

	p
		@include lato
		font-weight: 300
		letter-spacing: 1px
		color: rgba(0,0,0,0.45)
		word-wrap: break-word

.thread-content-score
		i
			transition: all .4s ease
			outline: none
			color: rgba(0,0,0,0.45)
			display: inline-block
			font-size: 22px

			&.upvoted
				color: $accent-green

			&.downvoted
				color: $accent-red

			&:hover
				trasnform: scale(1.3,1.3)

		span
			@include open
			font-weight: 400
			color: rgba(0,0,0,0.35)
			transition: all .4s ease

			&.positive
				color: $accent-green

			&.negative
				color: $accent-red

.thread-content-toolbar
	background: darken($darkest-blue, 5%) !important
	height: 55px
	min-height: 55px
	

	> div
		padding-left: 0

		button
			height: 55px
			width: 170px
			border-right: 1px solid #888888
			

			&:hover
				span
					color: #fff

				i
					color: #fff

			&.ng-enter
				@include slideInUp()
				

			&:nth-of-type(1)
				transition: all .4s ease

				span
					transition: all .4s ease

			i
				color: #9a9a9a

			span
				color: #9a9a9a
				@include lato
				letter-spacing: 1px
				font-size: 14px

.thread-mod-options
	position: relative
	transition: all .4s ease
	width: 170px

	i
		transition: all .4s ease
		color: #9a9a9a
		display: inline-block
		position: absolute
		right: 5px
		top: 19px

	span
		transition: all .4s ease

	&.open
		span
			color: #fff
		i
			color: #fff
			transform: rotate(-180deg)

.thread-mod-options-dropdown
	position: absolute
	top: 55px
	left: 510px
	transition: all .4s ease
	height: 0
	width: 169px
	background: rgba(0,0,0,0.6)
	text-align: center

	&:not(.ng-hide)
		height: 100px

		li 
			height: 50px
			border-bottom: 1px solid rgba(0,0,0,0.3)
			transition: all .4s ease

			&:last-child
				border-bottom: none

			button
				height: 50px
				width: 169px
				border-right: none
				transition: all .4s ease

				span
					opacity: 1
					color: #9a9a9a
					@include lato
					letter-spacing: 1px
					transition: all .4s ease
					text-shadow: none

				&:hover
					background: rgba(0,0,0,0.6)

					span
						color: #fff

	li
		button
			border-right: none !important

			span
				opacity: 0
				transition: all .4s ease

.thread-order-comments
	position: relative
	transition: all .4s ease
	width: 170px !important

	span
		transition: all .4s ease

	i
		transition: all .4s ease
		color: #9a9a9a
		display: inline-block
		position: absolute
		right: 5px
		top: 19px

	&.open
		span
			color: #fff
	
		i
			color: #fff
			transform: rotate(-180deg)

.thread-order-comments-dropdown
	position: absolute
	top: 55px
	left: 340px
	transition: all .4s ease
	height: 0
	width: 169px
	background: rgba(0,0,0,0.6)
	text-align: center

	&:not(.ng-hide)
		height: 150px

		li
			height: 50px
			border-bottom: 1px solid rgba(0,0,0,0.3)
			transition: all .4s ease

			&:last-child
				border-bottom: none

			button
				height: 50px
				width: 169px
				border-right: none
				transition: all .4s ease

				span
					opacity: 1
					color: #9a9a9a
					@include lato
					transition: all .4s ease
					text-shadow: none

				&:hover
					background: rgba(0,0,0,0.6)

					span
						color: #fff


	li
		button
			border-right: none !important

			span
				opacity: 0
				transition: all .4s ease
.thread-comments-search-icon
	height: 38px
	width: 40px
	margin-top: 2px
	background: darken($accent-blue, 5%)
	position: relative
	transition: all .4s ease

	i
		font-size: 16px
		position: absolute
		top: 12px
		left: 12px
		opacity: 1
		transition: all .4s ease

	&.is-searching
		width: 5px

		i
			opacity: 0

.thread-comments-search
	position: relative
	height: 38px
	margin-top: 2px

	label
		@include lato
		font-weight: 300
		display: inline-block
		position: absolute
		left: 7px
		top: 7px
		color: #d5d8dd
		transition: all .4s ease
		opacity: 1
		font-size: 16px


	input
		height: 38px
		width: 180px
		background: $darkest-blue
		padding-left: 5px
		@include lato
		color: #d5d8dd
		transition: all .4s ease

	&.has-focus
		label
			opacity: 0

		input
			width: 215px

.thread-comments
	padding-top: 10px
	background: darken(#364351, 5%)
	min-height: 490px

	md-content
		background: darken(#364351, 5%)

		md-list
			md-list-item
				margin-left: 10px
				margin-bottom: 15px
				border-radius: 5px
				padding: 0
				width: 85%
				background: #d5d8dd
				box-shadow: 0 4px 8px 0 rgba(0,0,0,0.35)

.thread-comments-user
	padding-top: 10px
	padding-bottom: 8px

	> img
		height: 40px
		width: 40px
		border-radius: 50%
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5)
		margin: 6px 0
		display: inline-block
		transition: all .4s ease
		cursor: pointer

		&:hover
			transform: scale(1.1, 1.1)

	p
		@include lato
		font-weight: 300
		letter-spacing: 1px
		color: rgba(0,0,0,0.35) !important

.thread-comments-content
	padding-top: 10px

	p
		@include lato
		letter-spacing: 1px
		color: rgba(0,0,0,0.45) !important

.thread-comments-score
	i
		color: rgba(0,0,0,0.45)
		transition: all .4s ease
		outline: none
		display: inline-block
		font-size: 22px

		&.upvoted
			color: $accent-green

		&.downvoted
			color: $accent-red !important

		&:hover
			transform: scale(1.3,1.3)

	span
		color: #rgba(0,0,0,0.45)
		transition: all .4s ease

		&.positive
			color: $accent-green

		&.negative
			color: $accent-red

.thread-comments-toolbar
	height: 35px
	border-top: 1px solid rgba(0,0,0,0.12)
	padding-left: 10px

	button
		height: 35px

		i
			font-size: 16px
			color: rgba(0,0,0,0.35)

		span
			color: rgba(0,0,0,0.35)

.thread-comments-save-item
	i
		color: rgba(0,0,0,0.35)

	span
		@include open
		font-weight: 400
		letter-spacing: 1px

	&.ng-enter
		@include slideInUp()

.thread-comments-unsave-item

	i
		color: $accent-red !important

	span
		@include open
		font-weight: 400
		letter-spacing: 1px

	&.ng-enter
		@include slideInUp()

.thread-comments-edit-comment
	transition: all .4s ease

	span
		@include lato
		color: #9a9a9a !important
		transition: all .4s ease

	&:hover
		span
			color: $accent-blue !important

.thread-comments-delete-comment
	transition: all .4s ease

	span
		@include lato
		color: #9a9a9a !important
		transition: all .4s ease

	&:hover
		span
			color: $accent-warning !important

.thread-comments-created
	span
		@include lato
		color: #888888 !important


.thread-no-comments
	padding-top: 35px

	p
		@include mont
		color: #9a9a9a
		font-size: 18px
		text-shadow: 1px 1px rgba(0,0,0,0.35)

		span
			@include open
			font-weight: 600
			color: #bababa
			cursor: pointer
			text-shadow: 1px 1px rgba(0,0,0,0.45)
			transition: all .4s ease

			&:hover
				color: #fff

.thread-searching-text
	padding-top: 35px

	p
		@inlude mont
		color: #dfe1df
		font-size: 18px
		text-shadow: 1px 1px rgba(0,0,0,0.35)

		span
			@include open
			font-weight: 600
			text-shadow: 1px 1px rgba(0,0,0,0.45)
			color: $accent-orange

.thread-load-more-comments
	height: 60px
	padding-right: 15%

	button
		height: 40px
		width: 140px
		border-radius: 4px
		border: 2px solid lighten($darkest-blue, 10%)
		position: relative
		transition: all .4s ease

		span
			@include open
			font-weight: 400
			text-shadow: 1px 1px rgba(0,0,0,0.35)
			color: #9a9a9a
			transition: all .4s ease

		i
			position: absolute
			top: 12px
			right: 5px
			color: #9a9a9a
			transition: all .4s ease

		&:hover
			background: lighten($darkest-blue, 10%)

			span
				color: #fff

			i
				color: #fff

.thread-no-more-comments
	padding-top: 25px

	p
		@include mont
		color: #9a9a9a
		text-shadow: 1px 1px rgba(0,0,0,0.35)

