@import "dialogs"

.thread-title
	padding-left: 10px
	box-shadow: 0 2px 4px rgba(0,0,0,0.35)
	background-image: -webkit-linear-gradient(bottom, darken($blue, 10%) 0%, darken($blue, 20%) 100%)
	height: 40px
	position: relative
	z-index: 50

	p
		@include open
		color: #dfe1df

	span
		@include lato
		color: #dfe1df
		padding-right: 10px

.thread-content-stream
	transition: all .4s ease
	color: #dfe1df

	&:hover
		color: #fff
.thread-body-content
	padding: 20px 0
	min-height: 120px

.thread-content-user
	padding-top: 10px
	> img
		height: 40px
		width: 40px
		border: 1px solid rgba(0,0,0,0.5)
		border-radius: 50%
		display: inline-block
		transition: all .4s ease

		&:hover
			transform: scale(1.2, 1.2)

	p
		@include lato

.thread-content-content
	border: 1px solid rgba(0,0,0,0.12)
	border-radius: 5px
	padding: 6px 0 0 10px

	p
		@include open
		color: rgba(0,0,0,0.45)
		word-wrap: break-word

.thread-content-score
		i
			transition: all .4s ease
			outline: none

			&.upvoted
				color: $accent-green

			&.downvoted
				color: $accent-red

		span
			@include open
			transition: all .4s ease

			&.positive
				color: $accent-green

			&.negative
				color: $accent-red

.thread-content-toolbar
	background-image: -webkit-linear-gradient(bottom, darken($blue, 10%) 0%, $blue 100%)
	padding: 0 10px
	

	> div
		height: 40px

		button
			i
				color: #dfe1df

				&.saved
					color: $accent-red

			span
				color: #dfe1df

.thread-comments
	padding-top: 10px
	background: darken(#364351, 5%)
	min-height: 490px

	md-content
		background: darken(#364351, 5%)

		md-list
			md-list-item
				margin-left: 10px
				margin-bottom: 10px
				padding: 0
				width: 85%
				background: #212a33
				box-shadow: 0 4px 8px 0 rgba(0,0,0,0.35)

.thread-comments-user

	> img
		height: 40px
		width: 40px
		border: 1px solid #dfe1df
		border-radius: 50%
		margin: 6px 0
		display: inline-block
		transition: all .4s ease

		&:hover
			transform: scale(1.1, 1.1)

	p
		@include open
		color: #dfe1df !important
		padding-bottom: 6px

.thread-comments-content
	padding-top: 10px

	p
		@include lato
		color: #dfe1df !important

.thread-comments-score
	i
		color: #dfe1df
		transition: all .4s ease

		&.upvoted
			color: $accent-green

		&.downvoted
			color: $accent-red

	span
		color: #dfe1df
		transition: all .4s ease

		&.positive
			color: $accent-green

		&.negative
			color: $accent-red

.thread-comments-toolbar
	height: 35px
	border-top: 1px solid #c19f66
	padding-left: 10px
	padding-top: 5px
	background-image: -webkit-linear-gradient(bottom, darken($darkest-blue, 10%) 0%, $darkest-blue 100%)

	button
		i
			color: #dfe1df
			font-size: 16px
			transition: all .4s ease

			&.saved
				color: $accent-red

		span
			@include open
			color: #dfe1df


		&:nth-of-type(2)
			span
				@include lato
				color: #9a9a9a
