<div class='notification-container'>
	<md-menu class='nav-notifications-menu' md-offset='0 15'>
		<button ng-click="$mdOpenMenu()">
			<span class='mdi mdi-bell'><div ng-if='$ctrl.notificationCount > 0' class='nav-notification-count'><span>{{$ctrl.notificationCount}}</span></div></span>
		</button>

		<md-menu-content class='nav-notifications-dropdown'>
			<md-menu-item ng-repeat="item in $ctrl.notifications" ng-if="$ctrl.notifications.length">
				<div class='notification' ng-click="$ctrl.notificationAction(item)">
					<div class='notification-header'>
						<img ng-src="{{item.user.picture}}">
						<p>{{item.display.text}}</p>
					</div>

					<span am-time-ago="item.created"></span>
				</div>
			</md-menu-item>

			<md-menu-item ng-click="$ctrl.markAsRead()" ng-if="$ctrl.notifications.length" class='mark-all-as-read'>
				<p>Mark all as read</p>
			</md-menu-item>

			<md-menu-item ng-if="!$ctrl.notifications.length" class='no-notifications'>
				<div>
					<p>You have no new notifications</p>
				</div>
			</md-menu-item>
		</md-menu-content>
	</md-menu>
</div>