<md-dialog layout='column' flex='50' class='create-dialog-container'>
	<md-dialog-content>
		<div class='create-dialog-header' layout='row' layout-align='none center'>
			<h3>Add Comment</h3>
			<span flex></span>

			<button ng-click="close()" aria-label='close add comment dialog'>
				<span>x</span>
			</button>
		</div>

		<div class='create-dialog-body'>
			<form name='addCommentForm' ng-submit='create(addCommentForm.$valid)' novalidate>
				<div class='dialog-form-wrapper' ng-class="{'has-focus': addCommentForm.content.hasFocus,
				'has-success': addCommentForm.content.$valid,
				'has-error': addCommentForm.content.$error && addCommentForm.content.$touched}">
					<label>Content</label>
					<textarea name='content' ng-model='content' required rows='5' cols='40' ng-focus='addCommentForm.content.hasFocus=true' ng-blur="addCommentForm.content.hasFocus=false"></textarea>
					<i class='icon-checkmark dialog-form-success-check' ng-if="addCommentForm.content.$valid"></i>
					<i class='icon-fire dialog-form-error-icon' ng-if="addCommentForm.content.$error && addCommentForm.content.$touched && !addCommentForm.content.$valid"></i>
					<div ng-messages='addCommentForm.content.$error' ng-if="addCommentForm.content.$touched" class='dialog-form-error-container'>
						<div ng-message='required'>
							<span>Sorry, your comment has to have content</span>
						</div>
					</div>
				</div>
			</form>
		</div>
	</md-dialog-content>

	<md-dialog-actions class='create-dialog-actions' layout='row' layout-align='end center'>
		<button ng-click="create(addCommentForm.$valid)" aria-label='submit add comment form' class='create-dialog-submit'>
			<span>Create</span>
		</button>

		<button ng-click="close()" aria-label='close add comment dialog' class='create-dialog-cancel'>
			<span>Nevermind</span>
		</button>
	</md-dialog-actions>
</md-dialog>
