<div class='forum-create-container'>
	<form name='$ctrl.createComment' ng-submit="$ctrl.create($ctrl.createComment.$valid)" novalidate>

		<div class='forum-form-wrapper' ng-class="{'has-focus': $ctrl.createComment.content.hasFocus,
			'has-success': $ctrl.createComment.content.$valid && $ctrl.createComment.content.$touched,
			'has-error': $ctrl.createComment.content.$error && $ctrl.createComment.content.$touched && !$ctrl.createComment.content.$valid,
			'is-empty': !$ctrl.createComment.content.$viewValue}">
			<label>Description</label>
			<textarea rows='7' cols='40' ng-model='$ctrl.data.content' name='content' ng-focus="$ctrl.createComment.content.hasFocus=true" ng-blur="$ctrl.createComment.content.hasFocus=false" required>
			</textarea>
		</div>

		<div class='forum-form-submit'>
			<button type='submit' aria-label='submit create thread form' ng-class="{'form-valid': $ctrl.createComment.$valid}">
				<span>Create!</span>
			</button>
		</div>
	</form>
</div>
