<md-dialog class='delete-dialog-container'>
	<md-dialog-content>
		<div layout='row' layout-align='center center' class='delete-dialog-header'>
			<h3>Delete Stream</h3>
			<span flex></span>
			<button ng-click="close()">
				<span>x</span>
			</button>
		</div>

		<div layout='column' ng-repeat='item in stream' class='delete-dialog-body'>
			<p>Are you really sure?</p>
			<p>{{item.threads.length}} Threads</p>
			<p>{{item.subscribers.length}} Subscribers</p>
		</div>
	</md-dialog-content>

	<md-dialog-actions class='delete-dialog-actions'>
		<div layout='row' layout-align='end center'>
			<button ng-click="confirm()">
				<span>Delete</span>
			</button>

			<button ng-click="close()">
				<span>Nevermind</span>
			</button>
		</div>
	</md-dialog-actions>
</md-dialog>