<div class='activity-page-container'>
	<div ng-repeat="item in $ctrl.activities">
		<small>{{item.created | date:'short'}}</small>
		<span>
			<span ng-if="item.action == 'liked'">Liked this thread: <span>{{item.thread.title}}</span></span>
			<span ng-if="item.action == 'disliked'">Disliked this thread: <span>{{item.thread.title}}</span></span>
			<span ng-if="item.action == 'saved'">Saved this thread: <span>{{item.thread.title}}</span></span>
			<span ng-if="item.action =='unsaved'">Unsaved this thread: <span>{{item.thread.title}}</span></span>
			<span ng-if="item.action =='new thread'">Create a new thread: <span>{{item.thread.title}}</span></span>
			<span ng-if="item.action =='followed'">Followed: <span>{{item.user.name}}</span></span>
			<span ng-if="item.action =='unfollowed'">Unfollowed: <span>{{item.user.name}}</span></span>
			<span ng-if="item.action == 'new stream'"> Create a new stream: <span>{{item.stream.name}}</span></span>
			<span ng-if="item.action == 'subscribed'"> Subscribed to the stream: <span>{{item.stream.name}}</span></span>
			<span ng-if="item.action == 'unsubscribed'"> Unubscribed from the stream: <span>{{item.stream.name}}</span></span>
		</span>
	</div>
</div>