<div class='forum-create-container'>
	<form name='$ctrl.createStream' ng-submit="$ctrl.create($ctrl.createStream.$valid)" novalidate>
		<div class='forum-form-wrapper' ng-class="{'has-focus': $ctrl.createStream.name.hasFocus,
			'has-success': $ctrl.createStream.name.$valid,
			'has-error': $ctrl.createStream.name.$error && $ctrl.createStream.name.$touched && !$ctrl.createStream.name.$valid,
			'is-empty': !$ctrl.createStream.name.$viewValue}">
			<label>Name</label>
			<input type='text' name='name' ng-model="$ctrl.data.name" required ng-focus="$ctrl.createStream.name.hasFocus=true" ng-blur="$ctrl.createStream.name.hasFocus=false">
		</div>

		<div class='forum-form-wrapper' ng-class="{'has-focus': $ctrl.createStream.description.hasFocus,
			'has-success': $ctrl.createStream.description.$valid,
			'has-error': $ctrl.createStream.description.$error && $ctrl.createStream.description.$touched && !$ctrl.createStream.description.$valid,
			'is-empty': !$ctrl.createStream.description.$viewValue}">
			<label>Description</label>
			<textarea rows='7' cols='40' ng-model='$ctrl.data.description' name='description' ng-focus="$ctrl.createStream.description.hasFocus=true" ng-blur='$ctrl.createStream.description.hasFocus=false' required>
			</textarea>
		</div>

		<div class='forum-form-submit'>
			<button type='submit' aria-label='submit create stream form' ng-class="{'form-valid': $ctrl.createStream.$valid}">
				<span>Create!</span>
			</button>
		</div>
	</form>
</div>