<md-dialog class='chats-single-dialog'>
	<md-dialog-content ng-repeat="chat in vm.chat" class='chats-single-container'>
		<div class='chats-single-header' layout='column' layout-align='center center'>
			<img ng-src="{{chat.participants[0].name !== vm.user.name ? chat.participants[1].picture : chat.participants[0].picture}}">
			<p>{{chat.participants[0].name === vm.user.name ? chat.participants[1].name : chat.participants[0].name}}</p>
			<p>{{chat.participants[0].name === vm.user.name ? chat.participants[1].email : chat.participants[0].email}}</p>
			<span flex></span>
			<button aria-label='close this chat' ng-click="vm.closeMessage()">
				<span>x</span>
			</button>
		</div>

		<md-content class='chats-single-body' id='scrollContainer'>
			<div class='chats-single-content'>
				<div ng-repeat='item in vm.messages | orderBy: "created"' class='chats-message' ng-class="{'current-user': vm.user._id == item.creator._id}" layout='row'>
					<div class='chats-avatar' layout='column' layout-align='center center'>
						<img ng-src="{{item.creator.picture}}">
					</div>
					<div class='chats-bubble' layout='column' flex>
						<span>{{item.message}}</span>
						<div class='chats-bubble-corner'></div>
					</div>
				</div>
			</div>
			<!-- <md-list ng-if="vm.messages.length">
				<md-list-item ng-repeat='item in vm.messages' layout='column' class='md-2-line'>
					<div class='md-list-item-text' layout='column' ng-class="{'current-user': vm.user._id == item.creator._id}">
						<div layout='column' layout-align='center center' class='chats-single-user'>
							<img ng-src="{{item.creator.picture}}">
						</div>

						<div flex class='chats-single-message' layout='row'>
							<p>{{item.creator.name}}: </p>
							<span>{{item.message}}</span>
						</div>
					</div>
				</md-list-item>
			</md-list> -->
		</md-content>

		<div class='chats-single-form' layout='column'>
			<form name='vm.chatForm' novalidate>
				<div class='chat-form-wrapper' ng-class="{'has-focus': vm.chatForm.message.hasFocus}">
					<label>Message</label>
					<textarea ng-model='vm.obj.message' ng-keyup="$event.keyCode == 13 && vm.sendMessage(vm.chatForm.$valid)" name='message' rows='4' cols='20' required ng-focus="vm.chatForm.message.hasFocus=true" ng-blur="vm.chatForm.message.hasFocus=false"></textarea>
				</div>
			</form>
		</div>
	</md-dialog-content>
</md-dialog> 

