.streams-list-container
	position: relative
	padding-top: 160px
	text-align: center
	background: #f4f5f6

	header
		padding-bottom: 100px

	> p
		@include open()
		font-weight: 300
		letter-spacing: 2px
		font-size: 16px
		line-height: 34px
		color: $grey-text
		width: 80%
		margin: 0 auto
		padding-bottom: 80px

	> button
		height: 60px
		width: 180px
		margin-bottom: 100px
		box-shadow: 0 3px 6px rgba(0,0,0,0.36), 0 3px 6px rgba(0,0,0,0.44)
		background: $success

		span
			@include rale()
			font-weight: 400
			letter-spacing: 2px
			font-size: 18px
			color: $white-text

@media screen and (min-width: 630px)
	.streams-list-container
		padding-top: 175px

		> p
			line-height: 40px
			padding-bottom: 115px

		> button
			width: 220px

@media screen and (min-width: 1000px)
	.streams-list-container
		padding-top: 190px

		> p
			line-height: 45px

		> button
			margin-bottom: 160px

@media screen and (min-width: 1300px)
	.streams-list-container
		header
			padding-bottom: 120px

		> p
			width: 60%
			text-align: center
			line-height: 50px
			font-size: 18px
			padding-bottom: 130px

		> button
			margin-bottom: 200px
