.single-stream-page-container
	display: flex
	flex-direction: column
	align-items: center
	position: relative
	padding-top: 20px
	text-align: center
	overflow-x: hidden
	background: #fdfdfe
	
	header
		padding: 30px 0

	h1
		color: rgba(0,0,0,0.8)

	> p
		@include open()
		font-weight: 300
		font-size: 17px
		letter-spacing: 2px
		line-height: 35px
		color: darken(#9d9e9f, 10%)
		width: 80%
		padding-bottom: 35px
		margin: 0 auto




	> button
		height: 60px
		width: 180px
		margin: 100px 0
		box-shadow: 1px 3px 6px rgba(0,0,0,0.16), 1px 3px 6px rgba(0,0,0,0.23)
		//background: #539bd1
		//background: #869abf
		//background: darken(#aec5d9, 20%)
		background: lighten(#47aeac, 15%)

		span
			@include rale()
			font-weight: 400
			letter-spacing: 2px
			font-size: 18px
			color: $white-text

.stream-image
	height: 65px
	width: 65px
	margin-bottom: 30px
	border-radius: 50%
	border: 1px solid rgba(0,0,0,0.3)
	//background: #8da9c7
	box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.23)

.single-stream-stats
	display: flex
	align-items: center
	padding: 20px 0

	> div
		display: flex
		flex-direction: column
		align-items: center
		width: 120px

		> span
			font-size: 25px
			margin-bottom: 10px
			color: darken(#aec5d9, 20%)

		p
			@include open()
			font-weight: 300
			font-size: 15px
			letter-spacing: 2px
			color: rgba(0,0,0,0.6)


		&:nth-of-type(1)
			margin-right: 15px

		&:nth-of-type(2)
			margin-left: 15px


.single-stream-create-thread
	&.ng-enter
		@include slideInUp()

	&.ng-leave
		@include slideOutDown()

@media screen and (min-width: 630px)
	.single-stream-page-container
		> p
			font-size: 18px
			line-height: 40px

	.stream-image
		margin-bottom: 50px

	.single-stream-stats
		padding-bottom: 60px

		> div
			width: 145px

			p
				font-size: 17px
