.small-mobile
	display: inline-block

.large-mobile
	display: none

.tablet
	display: none

.large-tablet
	display: none

.desktop
	display: none

.below-mobile
	display: inline-block

.above-mobile
	display: none

@media screen and (min-width: 630px)
	.small-mobile
		display: none

	.large-mobile
		display: inline-block

	.below-mobile
		display: inline-block

	.above-mobile
		display: none

@media screen and (min-width: 800px)
	.below-mobile
		display: none
		
	.above-mobile
		display: inline-block

@media screen and (min-width: 1350px)
	.desktop
		display: inline-block