<md-dialog class='create-stream-post-container' layout='column' flex='60'>
	<md-dialog-content>
		<div class='create-stream-post-header' layout='row' layout-align='center none'>
			<button>
				<h3>Create a post</h3>
			</button>


			<span flex></span>
			<button>
				<span ng-click="close()" aria-label='close dialog'>x</span>
			</button>
		</div>

		<div class='create-stream-post-body'>
			<form name='addPostForm' ng-submit='create(addPostForm.$valid)' novalidate>
				<div class='post-form-wrapper' ng-class="{'has-focus': addPostForm.title.hasFocus,
				'has-success': addPostForm.title.$valid}">
					<label>Title</label>
					<input type='text' ng-model='title' required name='title' ng-focus="addPostForm.title.hasFocus=true" ng-blur="addPostForm.title.hasFocus=false">
				</div>

				<div class='post-form-wrapper' ng-class="{'has-focus': addPostForm.content.hasFocus,
				'has-success': addPostForm.content.$valid}">
					<label>Content</label>
					<textarea name='content' ng-model='content' rows='4' cols='40' required ng-focus="addPostForm.content.hasFocus=true" ng-blur="addPostForm.content.hasFocus=false"></textarea>
				</div>
			</form>
		</div>
	</md-dialog-content>

	<md-dialog-actions class='create-stream-post-actions' layout='row' layout-align='end center'>
		<button ng-click="create(addPostForm.$valid)" aria-label='submit form to create new post'>
			<span>Create</span>
		</button>

		<button ng-click='close()' aria-label='close dialog button'>
			<span>Nevermind</span>
		</button>
	</md-dialog-actions>
</md-dialog>