<div class='threads-single-component'>
	<div class='thread-single-container'>
		<div class='thread-left'>
			<span class='mdi mdi-chevron-up'></span>
			<span>score</span>
			<span class='mdi mdi-chevron-down'></span>
		</div>

		<div class='thread-content'>
			<p>{{$ctrl.comment.content}}</p>
		</div>
	</div>

	<div class='thread-info'>
		<div class='left'>

			<div class='thread-info-text'>
				<button>
					<span class='mdi mdi-heart-outline'></span>
				</button>
			</div>
		</div>

		<div class='right'>
			<div>
				<button>
					<span>{{$ctrl.comment.creator.name}} <span am-time-ago="$ctrl.thread.created"></span></span>
				</button>
			</div>
		</div>
	</div>
</div>