<div class='profile-saved-container'>
	<div class='profile-saved-body' layout='row'>
		<div class='profile-saved-threads'>
			<div>
				<div class='profile-saved-threads-header' layout='row' layout-align='none center'>
					<h4>Threads</h4>
					<span flex></span>
					<div class='profile-saved-threads-search-icon' ng-class="{'is-searching': vm.threadsSearch.hasFocus}" layout='column' layout-align='center center'>
						<i class='icon-search'></i>
					</div>
					<div class='profile-saved-threads-search' ng-class="{'has-focus': vm.threadsSearch.hasFocus}">
						<label for="savedThreadsSearch">Search</label>
						<input name='search' id='savedThreadsSearch' ng-model='vm.threadsFilter' ng-focus="vm.threadsSearch.hasFocus=true" ng-blur="vm.threadsSearch.hasFocus=false">
					</div>
				</div>
				<md-list>
					<md-list-item ng-repeat='thread in vm.threads'>
						<div class='md-list-item-text'>
							<div layout='row'>
								<div layout='column' flex='15' layout-align='center center' class='profile-threads-user profile-saved-user'>
									<img src="{{thread.creator.picture}}" ui-sref="profile.overview({userId: thread.creator._id})">
									<p>{{thread.creator.name}}</p>
								</div>

								<div layout='column' flex class='profile-threads-title profile-saved-title' ui-sref="streams.thread({streamId: thread.stream._id, threadId: thread._id})">
									<p>{{thread.title}}</p>
									<div class='profile-threads-title-overlay profile-saved-title-overlay'>
										<p>{{thread.content}}</p>
									</div>
								</div>

								<div layout='column' flex='10' layout-align='center center' class='profile-threads-score-container'>
									<i class='icon-expand_less' ng-class="{'upvoted': thread.upvoted}"></i>
									<span ng-class="{'positive': thread.score >= 1, 'negative': thread.score <= -1}">{{thread.score}}</span>
									<i class='icon-expand_more' ng-class="{'downvoted': thread.downvoted}"></i>
								</div>
							</div>

							<div layout='row' layout-align='none center' class='profile-threads-thread-toolbar profile-saved-toolbar'>
								<button>
									<i class='icon-bubble'></i>
									<span>{{thread.comments.length}} Comment<span ng-if="thread.comments.length > 1 || thread.comments.length == 0">s</span></span>
								</button>

								<button>
									<i class='icon-favorite_border'></i>
									<span>{{thread.saves.length}} Save<span ng-if="thread.saves.length > 1 || thread.saves.length == 0">s</span></span>
								</button>

								<span flex></span>

								<button>
									<span>{{thread.created}}</span>
								</button>
							</div>
						</div>
					</md-list-item>
				</md-list>

				<div class='profile-saved-no-threads' ng-if="!vm.threads.length && !vm.threadsFilter">
					<p>{{profile.name}} has not saved any threads</p>
				</div>

				<div class='profile-saved-search-text' ng-if="!vm.threads.length && vm.threadsFilter">
					<p>Unraveling the threads <span>. . .</span></p>
				</div>

				<div class='profile-load-more-saved-items' ng-if="!vm.noMoreThreads" layout='row' layout-align='end center'>
					<button aria-label='load more saved threads' ng-click="vm.loadMoreThreads()">
						<span>Load More</span>
						<i class='icon-expand_more'></i>
					</button>
				</div>

				<div class='profile-no-more-saved-items' ng-if="vm.noMoreThreads && vm.threadPage >= 1" layout='row' layout-align='center center'>
					<p>There are no more threads to load</p>
				</div>
			</div>
		</div>

		<div class='profile-saved-comments'>
			<div>
				<div class='profile-saved-comments-header' layout='row' layout-align='none center'>
					<h4>Comments</h4>
					<span flex></span>
					<div class='profile-saved-comments-search-icon' ng-class="{'is-searching': vm.commentsSearch.hasFocus}" layout='column' layout-align='center center'>
						<i class='icon-search'></i>
					</div>
					<div class='profile-saved-comments-search' ng-class="{'has-focus': vm.commentsSearch.hasFocus}">
						<label for="savedCommentsSearch">Search</label>
						<input name='search' id='savedCommentsSearch' ng-model='vm.commentsFilter' ng-focus="vm.commentsSearch.hasFocus=true" ng-blur="vm.commentsSearch.hasFocus=false">
					</div>
				</div>
				<md-list>
					<md-list-item ng-repeat='comment in vm.comments'>
						<div class='md-list-item-text'>
							<div layout='row'>
								<div layout='column' flex='15' layout-align='center center' class='profile-comments-user profile-saved-user'>
									<img src='{{comment.creator.picture}}' ui-sref="profile.overview({userId: comment.creator._id})">
									<p>{{comment.creator.name}}</p>
								</div>

								<div layout='column' flex ui-sref="streams.streamsThread({streamId: thread.stream._id, threadId: thread._id})" class='profile-comments-content'>
									<p>{{comment.content}}</p>
								</div>

								<div layout='column' flex='10' layout-align='center center' class='profile-comments-score-container'>
									<i class='icon-expand_less' ng-class="{'upvoted': comment.upvoted}"></i>
									<span ng-class="{'positive': comment.score >= 1, 'negative': comment.score <= -1}">{{comment.score}}</span>
									<i class='icon-expand_more' ng-class="{'downvoted': comment.downvoted}"></i>
								</div>
							</div>

							<div layout='row' layout-align='none center' class='profile-comments-comment-toolbar profile-saved-toolbar'>

								<button>
									<i class='icon-favorite_border'></i>
									<span>{{comment.saves.length}} Save<span ng-if="comment.saves.length > 1 || comment.saves.length == 0">s</span></span>
								</button>

								<span flex></span>

								<button>
									<span>{{comment.created}}</span>
								</button>
							</div>
						</div>
					</md-list-item>
				</md-list>

				<div class='profile-saved-no-comments' ng-if="!vm.comments.length && !vm.commentsFilter">
					<p>{{profile.name}} has not saved any comments</p>
				</div>

				<div class='profile-saved-search-text' ng-if="!vm.comments.length && vm.commentsFilter">
					<p>Counting the comments <span>. . .</span></p>
				</div>

				<div class='profile-load-more-saved-items' ng-if="!vm.noMoreComments" layout='row' layout-align='end center'>
					<button aria-label='load more saved comments' ng-click="vm.loadMoreComments()">
						<span>Load More</span>
						<i class='icon-expand_more'></i>
					</button>
				</div>

				<div class='profile-no-more-saved-items' ng-if="vm.noMoreComments && vm.commentPage >= 1" layout='row' layout-align='center center'>
					<p>There are no more comments to load</p>
				</div>
			</div>
		</div>
	</div>
</div>

