<div class='forum-search-container'>
	<div ng-class="{'has-focus': $ctrl.search.hasFocus}">
		<label class='mdi mdi-magnify'></label>
		<input type='text' name='search' ng-model='$ctrl.threadsSearch' ng-change="$ctrl.search()" ng-focus="$ctrl.search.hasFocus=true" ng-blur="$ctrl.search.hasFocus=false">
		<md-menu class='forum-search-dropdown' md-offset='0 65'>
			<button class='large-mobile' ng-click="$mdOpenMenu()">
				<span>Filter</span>
			</button>

			<md-menu-content>
				<md-menu-item>
					<button ng-click="$ctrl.byScore()">
						<span>Score</span>
					</button>
				</md-menu-item>

				<md-menu-item>
					<button ng-click="$ctrl.byComments()">
						<span>Comments</span>
					</button>
				</md-menu-item>

				<md-menu-item>
					<button ng-click='$ctrl.bySaves()'>
						<span>Saves</span>
					</button>
				</md-menu-item>

				<md-menu-item>
					<button ng-click='$ctrl.byDate()'>
						<span>Date</span>
					</button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
	</div>
</div>

<thread-list threads="$ctrl.threads"></thread-list>

<div ng-if='!$ctrl.threads.length' class='forum-list-no-items'>
	<p>It doesn't look like there is anything here</p>
	<span>You should create a <span>new thread!</span></span>
</div>

<div class='load-more-button' ng-if="!$ctrl.noMoreThreads">
	<button ng-click="$ctrl.loadMore()">
		<span>Load More</span>
	</button>
</div>