<div class='overview-container' layout='row'>
	<div layout='column' flex='40'>
		<md-card class='overview-general'>
			<div layout='row' layout-align='center center' class='overview-header'>
				<h3>General</h3>
			</div>
			<div layout='row' class='overview-content'>
				<h4>Gender</h4>
				<span flex></span>
				<p>{{profile.gender}}</p>
			</div>

			<div layout='row' class='overview-content'>
				<h4>Email</h4>
				<span flex></span>
				<p>{{profile.email}}</p>
			</div>

			<div layout='row' class='overview-content'>
				<h4>Name</h4>
				<span flex></span>
				<p>{{profile.name}}</p>
			</div>

			<div layout='row' class='overview-content'>
				<h4>Username</h4>
				<span flex></span>
				<p>{{profile.username}}</p>
			</div>

			<div layout='row' class='overview-content'>
				<h4>Phone</h4>
				<span flex></span>
				<p>{{profile.phone}}</p>
			</div>

			<div layout='row' class='overview-content'>
				<h4>Birthday</h4>
				<span flex></span>
				<p>{{profile.birthday}}</p>
			</div>

			<div layout='row' class='overview-content'>
				<h4>Occupation</h4>
				<span flex></span>
				<p>{{profile.occupation}}</p>
			</div>
		</md-card>

		<md-card class='overview-extra'>	
			<div layout='row' layout-align='center center' class='overview-extra-header'>
				<h3>About</h3>
			</div>
			<div layout='column' class='overview-extra-content'>
				<h4>Interests</h4>
				<p>{{profile.interests}}</p>
			</div>

			<div layout='column' class='overview-extra-content'>
				<h4>Bio</h4>
				<p>{{profile.bio}}</p>
			</div>
		</md-card>
	</div>

	<span flex></span>

	<div layout='column' flex='30'>
		<md-card class='overview-score' layout='row'>
			<div layout='column' layout-align='center center' flex='50'>
				<p>{{profile.threadScore}}</p>
				<span><i class='icon-checkmark'></i>Thread Score</span>
			</div>

			<div layout='column' layout-align='center center' flex='50'>
				<p>{{profile.commentScore}}</p>
				<span><i class='icon-checkmark2'></i>Comment Score</span>
			</div>
		</md-card>

		<md-card class='overview-friends' layout='column'>
			<div class='overview-friends-header' layout='row' layout-align='none center'>
				<p>{{profile.following.length}} Friend<span ng-if="profile.following.length > 1 || profile.following.length == 0">s</span></p>
				<span flex></span>
				<button>
					<span>Find Friends</span>
				</button>
			</div>

			<div class='overview-friends-body' layout='column'>
				<div class='overview-friends-friend' layout='row' layout-wrap>
					<div layout='column' layout-align='center center' flex='50' ng-repeat='following in profile.following' ui-sref="profile.overview({userId: following._id})">
						<img src='../static/images/me.jpg'>
						<p>{{following.name}}</p>
						<p>{{following.username}}</p>
					</div>
				</div>
			</div>

			<div class='overview-friends-footer' layout='row' layout-align='end center'>
				<button aria-label='view all friends button'>
					<span>View All Friends</span>
				</button>
			</div>
		</md-card>
	</div>
</div>