<div class='login-form-container'>
	<form name='$ctrl.loginForm' ng-submit="$ctrl.login($ctrl.loginForm.$valid)" novalidate>
		<div class='auth-form-wrapper'>
			<label>Email</label>
			<input type='email' name='email' ng-model="$ctrl.data.email" required>
		</div>

		<div class='auth-form-wrapper'>
			<label>Password</label>
			<input type='password' name='password' ng-model='$ctrl.data.password' required>
		</div>

		<div class='auth-form-submit'>
			<button type='submit' aria-label='submit login form'>
				<span>Login</span>
			</button>
		</div>
	</form> 
</div>