<div class='forum-list-component-container'>
	<div class='forum-list-view'>
		<div class='forum-list-list'>
			<div ng-repeat="item in $ctrl.threads | orderBy: $ctrl.rowFilter" class='forum-list-repeat'>
				<single-thread thread='item' class='forum-single-repeat'></single-thread>
			</div>
		</div>
	</div>

	<div ng-if='!$ctrl.threads.length && !$ctrl.hideNoItems' class='forum-list-no-items'>
		<p>It doesn't look like there is anything here</p>
		<span>You should create a <span>new comment!</span></span>
	</div>

	
	<md-button class='md-fab forum-create-button' ng-click="$ctrl.openCreateThread()" ng-if="!$ctrl.hideCreate">
		<i class='mdi mdi-pencil'></i>
	</md-button>
</div>