<div class='forum-list-component-container'>
	<div class='forum-list-view'>
		<div class='forum-list-list'>
			<div ng-repeat="item in $ctrl.threads | orderBy: $ctrl.rowFilter" class='forum-list-repeat'>
			<single-thread thread='item' class='forum-single-repeat'></single-thread>
		</div>

		<div class='forum-side-bar above-tablet'></div>
	</div>


	
	<md-button class='md-fab forum-create-button' ng-click="$ctrl.openCreateThread()" ng-if="!$ctrl.hideCreate">
		<i class='mdi mdi-pencil'></i>
	</md-button>
</div>