// Main Colors

$darkest-blue: #1f2933
$darkest-green: darken(#48aea8, 10%)
$seafoam: #38aa92
$grey: #4f737a
$blue: #467a9a


// Accent Colors
$accent-blue: #50ade3
$accent-green: #74b97d
$accent-red: #9f443a
$accent-orange: #c19f66
$accent-warning: #ce6556

$input-grey: #d2d9dd